<% provide(:title, "Help") %>
<% provide(:navigation_heading, "Help") %>
<% if !logged_in? %>
<header class="row title-logo">
  <%= link_to image_tag('crucendo_logo_web.svg', alt: 'Crucendo Logo'), root_url %>
</header>
<section class="tagline aqua">
  <p>Help</p>
</section>
<% end %>
<ul id="help-contents">
  <li><a href="#why-am-i-here">Why am I here?</a></li>
  <li><a href="#why-use-crucendo">Why should I use Crucendo?</a></li>
  <li><a href="#features">Crucendo's Features.</a></li>
  <li><a href="#quick-start-guide">Quick Start Guide.</a></li>
</ul>
<div id="why-am-i-here" class="panel panel-help">
  <div class="panel-heading">
    <div class="panel-title">Why am I here?</div>
  </div>
  <div class="panel-body">
    <p>Two guys from Melbourne, Australia wanted to create something that allows
    anyone to improve themselves a little bit every day. Crucendo provides a 
    different approach to motivating and mentoring yourself to improve and 
    achieve.</p>
  </div>
  <a href="#site-content">
    <div class="panel-footer">
      <%= fa_icon 'chevron-up', text: 'return to top' %>
    </div>
  </a>
</div>
<div id="why-use-crucendo" class="panel panel-help">
  <div class="panel-heading">
    <div class="panel-title">Why should I use Crucendo?</div>
  </div>
  <div class="panel-body">
    <p>Great question! Crucendo is something new. You’ve never experienced 
    personal development like this. Crucendo allows you to seamlessly include 
    five minutes of self reflection into your daily routine. It challenges you 
    with questions from your Tracks, the areas of your life you want to focus 
    on right now. You acknowledge your Haves, the areas you have improved or 
    worked on recently, and set some Wants, the goals you are set to achieve 
    in the future. Funnily enough, we call that five minute process a 
    Crucendo.</p>
  </div>
  <a href="#site-content">
    <div class="panel-footer">
      <%= fa_icon 'chevron-up', text: 'return to top' %>
    </div>
  </a>
</div>
<div id="features" class="panel panel-help">
  <div class="panel-heading">
    <div class="panel-title">Crucendo's Features.</div>
  </div>
  <div class="panel-body">
    <h3>Home</h3>
    <p>Your home page is your central hub for Crucendo. It delivers some 
    interesting and motivational statistical information, along with a 
    delightful green button that begins or continues a Crucendo.</p>
    <h3>Tracks</h3>
    <p>Your Tracks are the areas that you want to give focus to. They are called
    ‘Tracks’ because, for a train to know where it’s going, it first needs 
    tracks to give it direction and places to go. We see our Tracks the same 
    way, as these are the Tracks that will lead you to improving areas of your 
    personal and professional life. Behind each Track is a series of questions, 
    carefully written to promote introspective thought and self awareness. 
    These questions appear during a Crucendo. </p>
    <h3>Crucendos</h3>
    <p>This is the core feature of Crucendo. Designed to take five minutes, to 
    challenge the way you think and promote self awareness. It involves the 
    simple process of answering questions from the Tracks you have chosen. These 
    questions will be different every time you complete a Crucendo. During a 
    Crucendo you can acknowledge your most recent Haves and Wants, then rate 
    how you felt that day. That’s it! A non-intrusive way of spending a short 
    amount of time working on yourself.</p>
    <h3>Journal</h3>
    <p>The journal option is coming soon, and we’re excited!</p>
    <h3>Haves</h3>
    <p>What have you improved recently? It could be anything. Personal or 
    professional. Haves are our way of giving you space to list areas that you 
    are improving. Your haves can be something you improved once (unexpected 
    wins) or something you want to continue to improve in the future, which is 
    when Haves become Wants. Remember, it doesn’t matter how big or small it is, 
    what matters is that you take time to highlight areas that you have 
    improved. It’s important to celebrate all victories.</p>
    <h3>Wants</h3>
    <p>Setting goals is an important part of success, so you can look at Wants 
    like your very own space to list the things that you want to improve. A want 
    can be as simple as going for a walk more often, or as challenging as 
    improving your public speaking abilities. We all have areas of our lives 
    that we want to improve, big or small doesn’t matter, what matters is that 
    you begin your road to improvement with a plan. Creating a list of areas you 
    want to improve is a great start to achieving your plan. Acknowledge any 
    step towards a Want by adding a Have!</p>
    <h3>Profile</h3>
    <p>Inside Crucendo is a section dedicated to you and your personal 
    information. Add your name so Crucendo can address you correctly! There are 
    some additional security features too. Under the “Sessions” section you can 
    view all the current sessions you have open of Crucendo, and where they are 
    open e.g. Safari, Chrome, iOS etc. At any time you can end these sessions. 
    At the “Security” section you can set or change your password, and you can 
    also see which email address you use to login with.</p>
    <h3>Help</h3>
    <p>If you’re reading this you’ve already found our Help section, and you’re 
    on your way to getting the information you need about Crucendo and it’s many 
    features. If your search for information proves to be fruitless, feel 
    welcome to contact our team with your specific question using the Contact 
    section found in the menu.</p>
    <h3>Contact</h3>
    <p>Being able to contact our helpful team is as easy as selecting “Contact” 
    from the menu. We have two types of contact options which are “General” and 
    “Business”. From the general option you can ask us a general question, 
    request support, or provide feedback. If you’re a business and you’re 
    interested in using Crucendo for Teams, it’s as easy as using the business 
    option and a member of our team will contact you to discuss things 
    further.</p>
  </div>
  <a href="#site-content">
    <div class="panel-footer">
      <%= fa_icon 'chevron-up', text: 'return to top' %>
    </div>
  </a>
</div>
<div id="quick-start-guide" class="panel panel-help">
  <div class="panel-heading">
    <div class="panel-title">Quick Start Guide.</div>
  </div>
  <div class="panel-body">
    <h3>Let’s get you started with Crucendo by focusing on three important 
    aspects of this awesome app.</h3><br>
    <p>You’ll need an internet connection, a browser, and a Crucendo account. A 
    Crucendo account is just an email away, it’s also free! Head to the Crucendo 
    homepage at www.crucendo.com. Once you’re there, take a few moments to read 
    our privacy policy and the terms and conditions. If you’re happy with the 
    formal stuff, type your email address in the box that says 
    “youremail@here.com”, then click the button that says “Begin now”. You’ll 
    get an email from Crucendo to welcome you. In the email is a button to 
    activate your account, go ahead and click the button which will confirm 
    that you’re a real person, and bring you to your Crucendo home page.</p>
    <h3>1. Updating your Profile</h3>
    <p>Let’s start at the shallow end of the pool with something simple. Select 
    the menu icon in the top left corner, and select the “Profile” option. You 
    can personalise your Profile with a couple of basic details about yourself. 
    Once you’re happy with how your Profile looks, select the “Save” icon in the 
    top right hand corner (It looks like a floppy disk...so retro). You can also 
    set or change your password in the “Security” tab, just remember to select 
    the “Save” icon. To return to the home page, simply select the Crucendo ‘C’ 
    at the top of the page!</p>
    <h3>2. Choosing your Tracks</h3>
    <p>Now that you are an expert at using the menu, go ahead and select the 
    menu button and choose “Tracks”. You will be taken to the Tracks page, which 
    allows you to select the topics that align with areas of your life you want 
    to focus on. Any Track with a highlighted orange heading indicates it is one 
    you are working on. Making your tracks active or inactive is as simple as 
    clicking in the top of each track. Go ahead and select the Tracks that you 
    feel will bring you value.</p>
    <h3>3. Completing a Crucendo</h3>
    <p>Now that your Profile and Tracks are all set, let’s move on to the reason 
    that you’re here. From your home page select the “Begin” button, which will 
    get you started on your very first Crucendo. The fancy Crucendo algorithm 
    will choose three questions from your Tracks to challenge you. Allow a few 
    moments to think about each question and then answer it for yourself. You 
    can select the arrow in the top right to move through your Crucendo, or jump 
    to a step using the progress bar. You will get the opportunity to reflect 
    on what you have improved recently and what you want to improve in the 
    future. At the end of your Crucendo you’ll be provided some exploration 
    options, so you can uncover some of the other awesome features. 
    Congratulations, you have just completed a Crucendo! It should have taken 
    around five minutes, and you can come back tomorrow to challenge and impress 
    yourself again.</p>
  </div>
  <a href="#site-content">
    <div class="panel-footer">
      <%= fa_icon 'chevron-up', text: 'return to top' %>
    </div>
  </a>
</div>
<div class="policies aqua">
  <%= link_to 'Privacy', privacy_url, target: '_blank' %> | 
  <%= link_to 'Terms & Conditions', terms_url, target: '_blank' %> | 
  <%= link_to 'Contact', contacts_path %>
</div>
<script>
// Smooth scroll
$(document).ready(function(){
  $("a").on('click', function(event) {
    if (this.hash !== "") {
      event.preventDefault();
      var hash = this.hash;
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 800, function(){
        window.location.hash = hash;
      });
    }
  });
});
</script>