<% provide(:title, "Help") %>
<h1 class="page-title">
  <% if logged_in? %>
    <i class="fa fa-question-circle-o"></i>
  <% else %>
    <%= link_to image_tag("crucendo_logo_web.svg", class: 'help-image'), root_url %>
  <% end %><br>
  <small>Help</small>
</h1>
<div class="policies aqua">
  <%= link_to 'Privacy', privacy_url %> | 
  <%= link_to 'Terms & Conditions', terms_url %> | 
  <%= link_to 'Contact', 'mailto:support@thecrucialteam.com' %>
</div>
<ul id="help-contents">
  <li><a href="#why-am-i-here">Why am I here?</a></li>
  <li><a href="#crucendo-features">Description of Crucendo’s features</a></li>
  <li><a href="#quick-start-guide">Crucendo Quick Start Guide</a></li>
  <li><a href="#">Your Dashboard (coming soon)</a></li>
  <li><a href="#">Your Profile (coming soon)</a></li>
  <li><a href="#">Completing a Crucendo (coming soon)</a></li>
  <li><a href="#">Managing the Subscriptions (coming soon)</a></li>
  <li><a href="#">Reviewing and editing your Wants (coming soon)</a></li>
  <li><a href="#">Reviewing and editing your Haves (coming soon)</a></li>
  <li><a href="#">Using the Reports (coming soon)</a></li>
</ul>
<div id="why-am-i-here" class="panel panel-help">
  <div class="panel-heading">
    <div class="panel-title">Why am I here?</div>
  </div>
  <div class="panel-body">
    <h3>What is Crucendo, and why have I heard so much about it?</h3>
    <p>Those are great questions, let’s start with your first one. Crucendo is a
    way for you to improve yourself a little bit every day. Crucendo will 
    challenge and encourage you with three random questions, then ask you what 
    you have improved recently, followed by what you want to improve in the 
    future. At the end Crucendo will ask you to rate how you’re feeling out of 
    five, and then to finish your Crucendo is a summary of what you achieved by 
    completing it today.</p>
    <p>We recommend that you complete one Crucendo per day, and that you 
    complete your Crucendo at the end of your day. Find a quiet spot, take three
    deep breaths, and give yourself a few minutes to improve (and impress) 
    yourself.</p>
    <p>To answer your second question of why have you heard so much about 
    Crucendo, it’s probably because you’re a social media regular. We’re always 
    on Anchor, Facebook, Instagram, Jelly, LinkedIn, Pinterest, Reddit, 
    Snapchat, Twitter, Vimeo, and YouTube, so there’s a pretty good chance 
    you’ve seen us around.</p>
    <h3>Why should I use Crucendo?</h3>
    <p>Crucendo is something new. You’ve never experienced brilliant software 
    like this, that challenges, encourages, and tracks your development. 
    Crucendo will deliver three questions at random from your various 
    subscriptions, and the questions are designed to make you think about what 
    you’ve been doing recently, so that you can discover development 
    opportunities within yourself. Crucendo will also help you to consider what 
    you’ve improved recently, so that you have a way to reflect on your 
    achievements. Crucendo will also help you to ponder what you want to improve
    in the future, which is a little like setting yourself goals (we call them 
    ‘wants’). In the end you can reflect on your feelings and your mood, and 
    rate yourself on a scale of one to five. One would be an indication that 
    perhaps you’re feeling low or not in a great mood, while five would 
    indicate that things are pretty awesome.</p>
    <p>So let’s recap. You get introspective personal development from the 
    questions, the sense of accomplishment from the ‘haves’ and ‘wants’, and 
    the ability to tie it all to your mood. We feel very confident that 
    Crucendo will be your new best friend, because you deserve the opportunity 
    to impress yourself.</p>
  </div>
  <a href="#site-content">
  <div class="panel-footer"><%= fa_icon 'chevron-up', text: 'return to top' %></div>
  </a>
</div>
<div id="crucendo-features" class="panel panel-help">
  <div class="panel-heading">
    <div class="panel-title">Description of Crucendo’s features</div>
  </div>
  <div class="panel-body">
    <h3>Dashboard</h3>
    <p>The Dashboard is like a home to all of your activities. Want to think 
    about what you’ve improved today? How about what you’d like to improve in 
    the future? Would you like to see your history, or impress yourself? This is
    the place to do all of that, and more.</p>
    <h3>Begin a new Crucendo</h3>
    <p>Now we’re talking. This is the exciting stuff, and the reason that you’re
    here. Clicking on ‘Begin a new Crucendo’ begins a new Crucendo, and thus 
    also starts the process of developing yourself. Every time that you click 
    the magical ‘Begin a new Crucendo’ button, you can spend time being 
    retrospective and thinking about the day that was. To be serious for a 
    moment, this is the heart of Crucendo and what will give you the most 
    personal development.</p>
    <h3>Haves</h3>
    <p>We’re asking for some recent accomplishments, or to write some skills 
    that you have improved on. E.g. If you feel like you got better at listening
    today, you could write “listening”. Doing this will add listening to your 
    list of areas that you have improved recently.</p>
    <h3>Wants</h3>
    <p>We’re looking for you to share something about the future. E.g. If you 
    want to improve your question asking skills, you could write something like 
    “improve the quality of questions I ask”. This will then feature in your 
    list of areas, that you want to develop in the future.</p>
    <h3>Accomplishments</h3>
    <p>Every great achiever has a list of their past accomplishments, and 
    Crucendo is no different. Jump in to the Accomplishments section, and you 
    can view all of your past Crucendos along with anything else you’ve 
    completed. You can run reports and gather statistical information, so that 
    you can learn more about your awesome efforts.</p>
    <h3>Subscriptions</h3>
    <p>In every Crucendo you get to challenge and encourage yourself, with a 
    series of questions. The Subscriptions section of Crucendo, allows you the 
    ability to adjust what type of questions you get. This gives you the option 
    to tailor your experience in Crucendo, and it also allows you the ability 
    to focus the questions you get asked around specific areas of your life.</p>
    <h3>Profile</h3>
    <p>A few basics about yourself. Nothing too invasive, we’re just keen on 
    knowing a little about you, and all of the wonderful people using Crucendo. 
    You can also see where you have Crucendo sessions open, and end them as 
    needed. You can also change your email address, but keep in mind that you 
    will need access to your old and new email addresses to do so.</p>
    <h3>Help</h3>
    <p>Ummm, you’re here already. It’s… helpful.</p>
    <h3>Logout</h3>
    <p>Finished conquering the world for the day? That’s cool, it’s time to 
    logout, if you’re one of those logout people. If you’re not one of those 
    logout people, you can just stay logged in. Keep in mind, if you share a 
    computer, tablet, etc, you should logout to protect your privacy.</p>
    <h3>Completed Wants</h3>
    <p>A feature of the dash, and a visual representation of how many ‘wants’ 
    you have completed. It also features a sub-achievement, which is “total 
    wants” and an indicator of the total goals set. Both numbers should 
    hopefully be forever climbing, as they reflect all-time numbers rather 
    than a specific period of time.</p>
    <h3>Total Improvements</h3>
    <p>Every time that you have improved something in your list, you should 
    click it to indicate just that. So each time that you say you’ve improved 
    something, it adds another improvement to the list of total improvements. 
    This feature of the dash will also display the total number of improvements 
    you’ve made, in the last seven days, like a rolling number of successes.</p>
    <h3>Consecutive Days</h3>
    <p>With anything designed to help with personal development, it’s important 
    to keep challenging yourself to always do better/more. Consecutive Days is 
    designed to motivate you to complete a Crucendo each day, and to keep the 
    number of consecutive days completing a Crucendo climbing. The Consecutive 
    Days counter is not only for what you’ve currently achieved, but also to 
    display your all-time best number of consecutive days.</p>
  </div>
  <a href="#site-content">
  <div class="panel-footer"><%= fa_icon 'chevron-up', text: 'return to top' %></div>
  </a>
</div>
<div id="quick-start-guide" class="panel panel-help">
  <div class="panel-heading">
    <div class="panel-title">Crucendo Quick Start Guide</div>
  </div>
  <div class="panel-body">
    <h3>Let’s get you started with Crucendo, by focusing on three important 
    aspects of this awesome app.</h3>
    <p>You’ll need an internet connection, a browser, and a Crucendo account. A 
    Crucendo account is just an email away, it’s also free! How convenient. Head
    to the Crucendo homepage at www.crucendo.com. Once you’re there, take a few 
    moments to read our privacy policy and the terms and conditions. If you’re 
    happy with the formal stuff, type your email address in the box that says 
    “type your email”, then click the button that says “Let’s Go!”. You’ll get 
    an email from The Crucial Team to welcome you, they’re so nice. In the email
    is a button to verify your account, go ahead and click the button which 
    will verify that you’re a real person, and bring you to your Crucendo 
    dashboard.</p>
    <h3>Editing your Profile</h3>
    <p>Let’s start at the shallow end of the pool with something simple. Select 
    the menu icon in the top left corner, and select the “Profile” option. 
    Editing your Profile will give you a look at how the Crucendo menu works, 
    and you can personalise your Profile with a couple of basics. Once you’re 
    happy with how your Profile looks, select the “Save” button. Now click the 
    Crucendo logo at the top of the page, to head back to your dashboard.</p>
    <h3>Completing a Crucendo</h3>
    <p>Now that your profile is all set, let’s move on to the reason that you’re
    here. From your dashboard select the “Begin a new Crucendo” button, which 
    will get you started on your very first Crucendo. As you move through your 
    Crucendo, you will need to answer questions and reflect on what you have 
    improved recently, and what you want to improve in the future. At the end 
    of your Crucendo you’ll be given a summary of how you’ve improved. Once 
    you’ve read the summary, select the “See you tomorrow” button to head back 
    to your dashboard.</p>
    <h3>In depth with Accomplishments</h3>
    <p>Time to get your goggles on, we’re heading to the deep end for 
    Accomplishments. Since you’re in the dashboard, click the menu icon in the 
    top left corner of the screen. From the menu, select the “Accomplishments” 
    option. This is where you’ll find all the cool reporting functionality that 
    you’ll need, to be able to review your Crucendo lifetime. You can’t break 
    anything in here, so feel welcome to change the settings available, and 
    select the “Show Me” button to see the accomplishments. We’re always 
    looking for new suggestions for possible options, so if you come up with 
    something that you don’t see here, email your suggestion to us at 
    support@thecrucialteam.com using the subject Crucendo Accomplishments 
    Suggestion.</p>
  </div>
  <a href="#site-content">
  <div class="panel-footer"><%= fa_icon 'chevron-up', text: 'return to top' %></div>
  </a>
</div>