<div class="crucial-container">
  <%= form_for [:admin, :questions, @category] do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
    <%= f.submit yield(:button_text), class: "btn btn-success pull-right btn-bottom-right" %>
  <% end %>
</div>
<%= link_to "delete", admin_questions_category_path(@category), 
                          method: :delete,
                          title: "Are you sure?", 
                          data: {confirm: 'You may only delete a category if
                          it has no questions assigned.'},
                          class: "text-danger" unless @category.id.blank? %>