<div id="interaction_<%= interaction.id %>" class="panel interaction-panel selectable">
  <%= link_to accomplishments_crucendo_path(interaction) do %>
  <div class="panel-heading">
    <h3 class="panel-title">
      <span class="pull-right"><%= image_tag("crucendo_c_web.svg", class: "c-logo") %></span>
      Your Crucendo from <%= local_time_ago(interaction.updated_at) %>
    </h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-6">
        <ul class="list-group">
          <% interaction.answers.each do |answer| %>
            <li class="list-group-item">
              <%= answer.question.topic.name.camelize %>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="col-sm-6">
        <div class="row">
          <div class="col-xs-4">
            <p class="interaction-stats"><%=pluralize(interaction.improvements.size, 'have') %> achieved</p>
          </div>
          <div class="col-xs-4">
            <p class="interaction-stats"><%= pluralize(interaction.goals.size, 'want') %> created</p>
          </div>
          <div class="col-xs-4">
            <p class="interaction-stats">
              <span class="pluralize-number"><%= interaction.feeling %></span>
              <span class="pluralize-word">feeling</span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <span class="pull-right helper">
      <%= fa_icon 'hand-pointer-o', text: 'Select', right: true%>
    </span>
  </div>
  <% end %>
</div>