<div id="interaction_<%= interaction.id %>" class="panel heading-only interaction-panel selectable">
  <%= link_to accomplishments_crucendo_path(interaction) do %>
  <div class="panel-heading">
    <h3 class="panel-title">
      <span class="pull-left-absolute">
        <%= image_tag("crucendo_c_web.svg", class: "c-logo") %>
      </span>
      <div>
        <% interaction.answers.each do |answer| %>
          <% if answer == interaction.answers.last %>
            and <%= answer.question.topic.name.camelize %>
          <% else %>
            <%= answer.question.topic.name.camelize %>, 
          <% end %>
        <% end %>
      </div>
      <div>
        <div class="panel-title-helper">
          Completed <%= when_did_it_happen(interaction.updated_at) %>
          <span class="pull-right pull-right-padded">
            <%= fa_icon('trophy', text: interaction.improvements.size, right: true) %>
            <%= fa_icon('bullseye', text: interaction.goals.size, right: true) %>
            <%= fa_icon('smile-o', text: interaction.feeling, right: true) %>
          </span>
        </div>
      </div>
    </h3>
  </div>
  <% end %>
</div>