<% form_id = "edit_answer_#{@answer.id}" %>
<% content_for :control_menu do %>
  <%= button_tag(type: 'submit', 
      class: "custom-icon with-loader icon-pulse",
      form: form_id, 
      data: {disable_with: "<div class='loader'></div>".html_safe}) do %>
    <%= material_icon.keyboard_arrow_right %>
  <% end %>
<% end %>
<%= render 'interactions/header' %>
<p class="interaction-question">
  <%= @answer.question.content %><br>
  <span class="question-topic">- <%= @answer.question.topic.name %> -</span>
</p><hr>
<%= form_for @answer, url: wizard_path, method: :put do |f| %>
  <%= f.text_area :encrypted_answer, rows: 1, class: 'form-control autogrow',
        placeholder: "type your answer here ..." %>
  <%= hidden_field(:answer, :id) %>
<% end %>