<% provide(:title, "Complete") %>
<% content_for :navigation_right do %>
  <%= button_to root_url, method: :get, 
      class: "custom-icon material-lg with-loader icon-pulse",
      data: {disable_with: "<div class='loader'></div>".html_safe} do %>
    <%= fa_icon('hand-peace-o') %>
  <% end %>
<% end %>
<%= render 'interactions/header' %>
<div class="interaction-summary">
  <h1>That's it!</h1>
  <p>You <strong>answered three crucial questions</strong> from the topics</p>
  <ul>
    <% @interaction.answers.each_with_index do |answer, index| %>
      <li><span><%= answer.question.topic.name %></span></li>
    <% end %>
  </ul>
  <p>
    <% if @interaction.improvements.size > 0 %>
      You have <strong>acknowledged improvements</strong> in 
      <% if @interaction.improvements.size > 1 %>
        <%= pluralize(@interaction.improvements.size, 'aspect') %>
      <% else %>
        an aspect
      <% end %>
      of your life recently.
    <% end %>
    <% if @interaction.goals.where(completed: false).size > 0 %>
      You also <strong>embraced that you want to improve</strong> 
      <% if @interaction.goals.where(completed: false).size > 1 %>
        another <%= pluralize(@interaction.goals.where(completed: false).size, 'aspect') %>
      <% else %>
        another aspect
      <% end %>
      of your life.
    <% end %>
  </p>
  <p>Nice job, and<br><span>keep impressing yourself!</span></p><br>
</div>