<script>ga('send', 'event', 'Crucendo', 'Complete');</script>
<% provide(:title, "Complete") %>
<% content_for :navigation_right do %>
  <%= button_to root_url, method: :get, 
      class: "custom-icon material-lg with-loader icon-pulse",
      data: {disable_with: "<div class='loader'></div>".html_safe} do %>
    <%= fa_icon('hand-peace-o') %>
  <% end %>
<% end %>
<%= render 'interactions/header' %>
<div class="interaction-summary">
  <h1>Fantastic!</h1>
  <p>You have just completed your 
  <%= (current_user.interactions.completed.size).ordinalize %>
  Crucendo</p>
</div>
<div class="row">
  <div class="col-xs-4">
    <%= link_to accomplishments_path, class: "crucendo-link" do %>
      <%= image_tag("crucendo_c_web.svg", class: "img-responsive") %>
      <h1>Crucendos</h1>
      <p>All the times you have impressed yourself.</p>
    <% end %>
  </div>
  <div class="col-xs-4">
    <%= link_to subscriptions_path, class: "crucendo-link" do %>
      <%= image_tag("tracks.svg", class: "img-responsive") %>
      <h1>Tracks</h1>
      <p>Choose the Tracks you want to explore.</p>
    <% end %>
  </div>
  <div class="col-xs-4">
    <div class="crucendo-link">
      <%= image_tag("journal.svg", class: "img-responsive") %>
      <h1>Journal</h1>
      <p>Coming Soon ...</p>
    </div>
  </div>
</div>