<% 
  provide(:title, "Feeling") 
  form_id = "edit_interaction_#{@interaction.id}"
%>
<% content_for :navigation_left do %>
  <div class="control-menu pull-left">
  <%= button_to previous_wizard_path, method: :get, 
      class: "custom-icon with-loader",
      data: {disable_with: "<div class='loader'></div>".html_safe} do %>
    <%= material_icon.keyboard_arrow_left %>
  <% end %>
  </div>
<% end %>
<% content_for :control_menu do %>
  <%= button_tag(type: 'submit', 
      class: "custom-icon with-loader icon-pulse",
      form: form_id, 
      data: {disable_with: "<div class='loader'></div>".html_safe}) do %>
    <%= material_icon.done %>
  <% end %>
<% end %>
<%= render 'interactions/header' %>
<div class="interaction-title">
  <p>If 1 is how you would least like to feel, and 5 is how you would most like to 
  feel..</p>
  How are you feeling today?
</div>
<hr>
<!-- Slider main container -->
<div id="swiper-feeling" class="swiper-container">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">
        <div class="c100 p0">
          <span>1</span>
          <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="c100 p25">
          <span>2</span>
          <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="c100 p50">
          <span>3</span>
          <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="c100 p75">
          <span>4</span>
          <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="c100 p100">
          <span>5</span>
          <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
          </div>
        </div>
      </div>
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>
</div>
<div class="feeling-helper">- drag to select -</div>
<br><br>
<%= form_for @interaction, url: wizard_path, method: :put do |f| %>
  <%= hidden_field(:interaction, :feeling) %>
<% end %>