<% 
  provide(:title, "Finish") 
  form_id = "edit_interaction_#{@interaction.id}"
%>
<% content_for :navigation_left do %>
  <div class="control-menu pull-left">
  <%= link_to material_icon.keyboard_arrow_left, previous_wizard_path, 
      class: "custom-icon material-lg with-loader" %>
  </div>
<% end %>
<% content_for :navigation_right do %>
  <%= button_tag(type: 'submit', 
      class: "custom-icon material-lg with-loader icon-pulse",
      form: form_id, 
      data: {disable_with: "<div class='loader'></div>".html_safe}) do %>
    <%= material_icon.done %>
  <% end %>
<% end %>
<script>ga('send', 'event', 'Crucendo', 'Finish');</script>
<%= render 'interactions/header' %>
<div class="interaction-title">
  Before you finish, how are you feeling?
  <span class="interaction-helper">If 1 is how you would least 
  like to feel, and 5 is how you would most like to feel today</span>
</div>
<hr>
<!-- Slider main container -->
<div id="swiper-feeling" class="swiper-container">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide">
      <div class="feeling-circle progress-0">
        <div class="feeling-circle-inner">
          <div class="valign">1</div>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="feeling-circle progress-25">
        <div class="feeling-circle-inner">
          <div class="valign">2</div>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="feeling-circle progress-50">
        <div class="feeling-circle-inner">
          <div class="valign">3</div>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="feeling-circle progress-75">
        <div class="feeling-circle-inner">
          <div class="valign">4</div>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="feeling-circle progress-100">
        <div class="feeling-circle-inner">
          <div class="valign">5</div>
        </div>
      </div>
    </div>
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>
</div>
<div class="feeling-helper">- drag to select -</div>
<br><br>
<%= form_for @interaction, url: wizard_path, method: :put do |f| %>
  <%= hidden_field(:interaction, :feeling) %>
<% end %>