<% provide(:title, "Have") %>
<%= render 'interactions/header' %>
<p class="interaction-title">
  What have you improved recently?
</p><hr>
<div class="input-group">
  <%= text_field_tag 'new_improvement_text', nil,
        class: 'form-control input-lg', 
        placeholder: 'type what you have improved...' %>
  <span class="input-group-btn">
    <button id="new_improvement_start" class="btn btn-default btn-lg">
       <%= fa_icon('plus', text: 'Add', right: true) %>
    </button>
  </span>
</div>
<p class="section-split-text">or</p>
<button id="select-goals-button" 
  class="btn btn-block btn-default btn-lg text-button" 
  data-toggle="modal" data-target="#select-goals-modal">
   <span class="button-title">
     Select from your active <strong>wants</strong>
    </span><br> 
   <div class="button-helper">
     <span class="button-result"><%= @goals.size %> found in total</span>
     <span class="button-search-terms"></span>
   </div>
</button>
<br>
<section id="goals-section">
  <div id="improved-goals" class="panel-group"></div>
</section><br>
<%= link_to fa_icon('chevron-right', text: 'Continue', right: true),
      next_wizard_path, class: 'btn btn-orange pull-right btn-lg' %>
<%= render 'goals/haves/new_have', interaction: @interaction %>
<div class="modal fade" id="select-goals-modal" tabindex="-1" 
  role="dialog" aria-hidden="true">
  <button type="button" class="btn btn-orange btn-lg btn-fixed" 
    data-dismiss="modal"><%= fa_icon 'times', text:'Close', right: true %>
  </button>
  <div class="modal-dialog">
    <div class="modal-content transparent-modal">
      <div class="modal-body">
        <div id="all-goals" class="panel-group">
          <%= render partial: "goals/interactions/have_goal", 
              collection: @goals, as: :goal, 
              locals: {interaction_id: @interaction.id} %>
        </div>
      </div>
    </div>
  </div>
</div>