<% provide(:title, "Have") %>
<% content_for :navigation_left do %>
  <div class="control-menu pull-left">
  <%= link_to material_icon.keyboard_arrow_left, previous_wizard_path, 
      class: "custom-icon material-lg with-loader" %>
  </div>
<% end %>
<% content_for :navigation_right do %>
  <%= link_to material_icon.keyboard_arrow_right, next_wizard_path, 
      class: "custom-icon material-lg with-loader icon-pulse" %>
  </div>
<% end %>
<script>ga('send', 'event', 'Crucendo', 'Haves');</script>
<%= render 'interactions/header' %>
<p class="interaction-title">
  What have you improved recently?
  <span class="interaction-helper">Add something new, or select from your wants</span>
</p><hr>
<div class="input-group">
  <%= text_field_tag 'new_improvement_text', nil,
        class: 'form-control input-lg', 
        placeholder: 'type what you have improved...' %>
  <span class="input-group-btn">
    <button id="new_improvement_start" class="btn btn-default btn-lg">
       <%= fa_icon('plus', text: 'Add', right: true) %>
    </button>
  </span>
</div>
<section id="goals-section">
  <div id="improved-goals" class="panel-group"></div>
  <div id="all-goals" class="panel-group">
    <%= render partial: "goals/interactions/have_goal", 
        collection: @goals, as: :goal, 
        locals: {interaction_id: @interaction.id} %>
  </div>
</section>
<%= render 'goals/haves/new_have', interaction: @interaction %>
<div class="modal fade" id="select-goals-modal" tabindex="-1" 
  role="dialog" aria-hidden="true">
  <button type="button" class="btn btn-orange btn-lg btn-fixed" 
    data-dismiss="modal"><%= fa_icon 'times', text:'Close', right: true %>
  </button>
  <div class="modal-dialog">
    <div class="modal-content transparent-modal">
      <div class="modal-body">
        
      </div>
    </div>
  </div>
</div>