<% provide(:title, "Want") %>
<%= render 'interactions/header' %>
<p class="interaction-title">
  What do you want to improve?
</p><hr>
<div class="input-group">
  <%= text_field_tag 'new_goal_text', nil,
        class: 'form-control input-lg', placeholder: 'type what you want to improve...' %>
  <span class="input-group-btn">
    <button id="new_goal_start" class="btn btn-default btn-lg" type="submit">
       <%= fa_icon('plus') %> Add
    </button>
  </span>
</div><br>
<div id="goals-section" class="panel-group">
  <%= render partial: "goals/want_goal", collection: @goals, as: :goal %>
</div><br>
<%= link_to fa_icon('chevron-right', text: 'Continue', right: true),
      next_wizard_path, class: 'btn btn-orange pull-right btn-lg' %>
<div class="modal fade" id="new_goal_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"><%= fa_icon 'bullseye', text: 'Want' %></h4>
      </div>
      <div class="modal-body">
        <%= render 'goals/form', modal: true %>
      </div>
    </div>
  </div>
</div>