<% provide(:title, "Want") %>
<% content_for :navigation_left do %>
  <div class="control-menu pull-left">
  <%= button_to previous_wizard_path, method: :get, 
      class: "custom-icon with-loader",
      data: {disable_with: "<div class='loader'></div>".html_safe} do %>
    <%= material_icon.keyboard_arrow_left %>
  <% end %>
  </div>
<% end %>
<% content_for :control_menu do %>
  <%= button_to next_wizard_path, method: :get, 
      class: "custom-icon with-loader icon-pulse",
      data: {disable_with: "<div class='loader'></div>".html_safe} do %>
    <%= material_icon.keyboard_arrow_right %>
  <% end %>
<% end %>
<%= render 'interactions/header' %>
<p class="interaction-title">
  What do you want to improve?
</p><hr>
<div class="input-group">
  <%= text_field_tag 'new_goal_text', nil, class: 'form-control input-lg', 
      placeholder: 'type what you want to improve...' %>
  <span class="input-group-btn">
    <button id="new_goal_start" class="btn btn-default btn-lg" type="submit">
       <%= fa_icon('plus') %> Add
    </button>
  </span>
</div><br>
<div id="active-goals" class="panel-group">
  <%= render partial: "goals/interactions/want_goal", 
      collection: @goals, as: :goal %>
</div>
<%= render 'goals/wants/new_want', interaction: @interaction %>