<% type = get_interaction(current_user) ? "Continue" : "Begin" %>
<div class="modal fade" id="start-crucendo-modal" tabindex="-1" role="dialog" 
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content start-crucendo">
      <div class="modal-header">
        <button type="button" class="modal-button-left close-icon" 
          data-dismiss="modal" aria-hidden="true">
          <%= material_icon.clear %>
        </button>
        <%= button_to interactions_path, method: :get, 
            class: "modal-button-right check-icon", 
            id: "start-crucendo-button",
            data: {type: type } do %>
          <%= material_icon.check %>
        <% end %>
        <h4 class="modal-title">You’ve made a great decision</h4>
      </div>
      <div class="modal-body text-center">
        <h3>
          <% if get_interaction(current_user) %>
            You are about to continue your
            <%= (current_user.interactions.completed.size + 1).ordinalize %>
            Crucendo.
          <% else %>
            You are about to begin your
            <%= (current_user.interactions.completed.size + 1).ordinalize %>
            Crucendo
          <% end %>
        </h3>
        <p>Take three deep breaths and select 
          <%= material_icon.check.css_class('helper-button').html({ data: { helper: "start-crucendo-button" } }) %>
          to begin.</p>
          <hr>
        <p>Remember, the questions in Crucendo come from your Tracks<br>
        <%= link_to 'Explore My Tracks', subscriptions_path %></p>
      </div>
    </div>
  </div>
</div>