<% type = get_interaction(current_user) ? "Continue" : "Begin" %>
<div class="modal fade" id="start-crucendo-modal" tabindex="-1" role="dialog" 
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content start-crucendo">
      <div class="modal-header">
        <button type="button" class="modal-button-left close-icon" 
          data-dismiss="modal" aria-hidden="true">
          <%= material_icon.clear %>
        </button>
        <%= button_to interactions_path, method: :get, 
            class: "modal-button-right check-icon icon-pulse", 
            id: "start-crucendo-button",
            data: {type: type } do %>
          <%= material_icon.check %>
        <% end %>
        <h4 class="modal-title">You have made a great decision</h4>
      </div>
      <div class="modal-body text-center">
        <!--<span class="top-right-helper right-margin">select <%= fa_icon 'hand-pointer-o' %></span>-->
        <h3>
          <% if get_interaction(current_user) %>
            You are about to continue your
            <%= (current_user.interactions.completed.size + 1).ordinalize %>
            Crucendo.
          <% else %>
            You are about to begin your
            <%= (current_user.interactions.completed.size + 1).ordinalize %>
            Crucendo.
          <% end %>
          Take three deep breaths and begin.
        </h3>
        <!--<p>Take three deep breaths and select -->
        <!--  <%#= material_icon.check.css_class('helper-button').html({ data: { helper: "start-crucendo-button" } }) %>-->
        <!--  to begin.</p>-->
          <hr>
        <p class="modal-helper">Remember! The questions in Crucendo come from your <%= link_to 'Tracks', subscriptions_path %><br>
        </p>
      </div>
    </div>
  </div>
</div>