<% provide(:title, "Admin Dashboard") %>
<% provide(:navigation_heading, "Admin Dashboard") %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Information</h3>
  </div>
  <div class="panel-body">
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Actions</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-4 col-md-3">
        <%= link_to "Manage Users", admin_users_path, 
                                      class: "btn btn-default btn-block" %>
      </div>
      <div class="col-sm-4 col-md-3">
        <%= link_to "Manage Authors", admin_authors_path, 
                                      class: "btn btn-default btn-block" %>
      </div>
      <div class="col-sm-4 col-md-3">
        <%= link_to "Manage Tracks", admin_topics_path, 
                                      class: "btn btn-default btn-block" %>
      </div>
      <div class="col-sm-4 col-md-3">
        <%= link_to "All Questions", admin_questions_path, 
                                      class: "btn btn-default btn-block" %>
      </div>
      <div class="col-sm-4 col-md-3">
        <%= link_to "Manage Posts", admin_posts_path, 
                                      class: "btn btn-default btn-block" %>
      </div>
    </div>
  </div>
</div>