<%= form_for [:admin, @author], html: { multipart: true } do |f| %>
<%= f.label :name %>
<%= f.text_field :name, class: 'form-control input-lg', placeholder: "Author's name" %>
<%= f.label :link %>
<%= f.url_field :link, class: 'form-control input-lg', placeholder: "Link to Author's website" %>
<%= f.label :logo %>
<div class="input-group normal-input">
  <label class="input-group-btn">
    <span class="btn btn-default btn-lg">
      <%= fa_icon 'file-image-o' %> Browse ...<%= f.file_field :logo, 
                    accept: 'image/jpeg,image/gif,image/png',
                    class: "hidden_file" %>
    </span>
  </label>
  <input id="author-logo-display" type="text" class="form-control input-lg" readonly>
</div>
<div class="btn-toolbar pull-right" role="toolbar" aria-label="Toolbar with button groups">
  <div class="btn-group" role="group">
    <%= link_to "Delete", admin_author_path(@author), 
          method: :delete,
          title: "Are you sure?", 
          data: {confirm: 'You may only delete an author if
          it has no topics assigned.'},
          class: "btn btn-danger btn-lg" unless @author.id.blank? %>
  </div>
  <div class="btn-group" role="group">
    <%= f.submit yield(:button_text), class: "btn btn-success btn-lg" %>
  </div>
</div>
<% end %>
<script type="text/javascript">
  $('#author_logo').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>
