<% title "Admin Authors Show" %>
<% provide(:navigation_heading, @author.name) %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Information</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-6">
        <h4>Name</h4>
        <%= @author.name %>
        <h4>Link</h4>
        <%= link_to @author.link, @author.link %>
      </div>
      <div class="col-sm-6">
        <h4>Logo/Image</h4>
        <%= image_tag @author.logo.thumb.url, 
              class: "img-responsive" if @author.logo %>
      </div>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Actions</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-4 col-md-3">
        <%= link_to fa_icon("pencil-square-o", text: "Edit Author"), 
              edit_admin_author_path(@author), 
              class: "btn btn-success btn-lg btn-block" %>
      </div>
      <div class="col-sm-4 col-md-3">
        <%= link_to fa_icon("plus", text: "New Track"), 
              new_admin_topic_path(:author_id => @author.id), 
              class: "btn btn-success btn-lg btn-block" %>
      </div>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Author Tracks</h3>
  </div>
  <div class="panel-body">
    <div class="list-group">
      <%= render @author.topics %>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Author Posts</h3>
  </div>
  <div class="panel-body">
    <div class="list-group">
      <%= render @author.posts %>
    </div>
  </div>
</div>