<%= form_for [:admin, @topic], html: { multipart: true } do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, class: 'form-control input-lg', placeholder: "Track name" %>
  <%= f.label :author_id, "Author" %>
  <%= f.collection_select(:author_id, Author.all, :id, :name, 
                            { include_blank: 'Select an Author' } , 
                            { class: 'form-control input-lg' }) %>
  <%= f.label :active %>
  <div class="btn-group btn-group-justified" role="group" data-toggle="buttons">
    <label class="btn btn-default btn-default-danger btn-lg">
      <%= f.radio_button :active, false %>No
		</label>
		<label class="btn btn-default btn-lg">
			<%= f.radio_button :active, true %>Yes
		</label>
  </div>
  <%= f.label :default_subscription %>
  <div class="btn-group btn-group-justified" role="group" data-toggle="buttons">
    <label class="btn btn-default btn-default-danger btn-lg">
      <%= f.radio_button :default_subscription, false %>No
		</label>
		<label class="btn btn-default btn-lg">
			<%= f.radio_button :default_subscription, true %>Yes
		</label>
  </div>
  <div class="btn-toolbar pull-right" role="toolbar">
    <div class="btn-group" role="group">
      <%= link_to "Delete", admin_topic_path(@topic), 
            method: :delete,
            title: "Are you sure?", 
            data: {confirm: 'You may only delete a topic if
            it has no questions assigned.'},
            class: "btn btn-danger btn-lg" unless @topic.id.blank? %>
    </div>
    <div class="btn-group" role="group">
      <%= f.submit yield(:button_text), class: "btn btn-success btn-lg" %>
    </div>
  </div>
<% end %>