<% provide(:title, "Admin - Topics - #{@topic.name.camelize}") %>
<h1><%= @topic.name.camelize %></h1>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Information</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-8 col-sm-9 col-lg-10">
        <p>
          <%= if @topic.active
            fa_icon("circle", class: "crucial-active", text: "Active")
          else
            fa_icon("circle", class: "crucial-inactive", text: "Inactive") 
          end %> Topic with
          <%= @topic.questions.active.size %> Active Questions
        </p>
        <p>
          <%= 'By ' + @topic.author unless @topic.author.blank? %><br>
          <%= link_to @topic.link, @topic.link unless @topic.link.blank? %>
        </p>
      </div>
      <div class="col-xs-4 col-sm-3 col-lg-2">
        <%= image_tag @topic.picture.url, class: "img-responsive" if @topic.picture? %>
      </div>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Actions</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-4 col-md-3">
        <%= link_to fa_icon("pencil-square-o", text: "Edit Topic"), 
              edit_admin_topic_path(@topic), 
              class: "btn btn-default btn-block" %>
      </div>
      <div class="col-sm-4 col-md-3">
        <%= link_to fa_icon("plus", text: "Add Question"), 
              new_admin_question_path(:topic_id => @topic.id), 
              class: "btn btn-default btn-block" %>
      </div>
      <div class="col-sm-4 col-md-3">
        <%= link_to fa_icon("circle", class: "crucial-active", 
              text: "Activate All Questions"), 
              activate_questions_admin_topic_path(@topic), 
              method: :post, class: "btn btn-default btn-block"%>
      </div>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Topic Questions</h3>
  </div>
  <div class="panel-body">
    <div class="list-group">
      <%= render @topic.questions.admin %>
    </div>
  </div>
</div>