<% title "Admin Tracks Show" %>
<% provide(:navigation_heading, @topic.name.camelize) %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Information</h3>
  </div>
  <div class="panel-body">
    <p>
      <%= if @topic.active
        fa_icon("circle", class: "crucial-active", text: "Active")
      else
        fa_icon("circle", class: "crucial-inactive", text: "Inactive") 
      end %> Track with
      <%= @topic.questions.active(true).size %> Active Questions from Author:
    </p>
    <div class="list-group">
      <%= render @topic.author %>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Actions</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-4 col-md-3">
        <%= link_to fa_icon("pencil-square-o", text: "Edit Track"), 
              edit_admin_topic_path(@topic), 
              class: "btn btn-success btn-lg btn-block" %>
      </div>
      <div class="col-sm-4 col-md-3">
        <%= link_to fa_icon("plus", text: "Add Question"), 
              new_admin_question_path(:topic_id => @topic.id), 
              class: "btn btn-success btn-lg btn-block" %>
      </div>
      <div class="col-sm-4 col-md-3">
        <%= link_to fa_icon("circle", 
              text: "Activate All Questions"), 
              activate_questions_admin_topic_path(@topic), 
              method: :post, class: "btn btn-success btn-lg btn-block"%>
      </div>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Track Questions</h3>
  </div>
  <div class="panel-body">
    <div class="list-group">
      <%= render @topic.questions.admin %>
    </div>
  </div>
</div>