<% selectable ||= false %>
<div id="improvement_<%= improvement.id %>" 
  class="panel improvement-panel heading-only <%= 'selectable' if selectable %>">
  <%= link_to_if(selectable, goal_path(improvement.goal)) do %>
    <div class="panel-heading">
      <h3 class="panel-title">
        <span class="pull-left-absolute">
          <%= improvement.unexpected ? fa_icon('star') : fa_icon('trophy') %>
        </span>
        <div class="goal_encrypted_goal">
          <%= improvement.goal.encrypted_goal %>
          <span class="pull-right pull-right-padded">
            <% if !selectable %>
              <%= link_to fa_icon('trash-o'), improvement_path(improvement), 
                  method: :delete,
                  remote: true,
                  title: "Are you sure?", 
                  data: {confirm: "This <strong>have</strong> will be permanently deleted."},
                  class: "pull-right helper" %>
            <% end %>
          </span>
        </div>
        <div>
          <div class="panel-title-helper">
            <%= when_did_it_happen(improvement.created_at) %>
            <span class="pull-right pull-right-padded">
              <%= improvement.goal.improvements.where("created_at <= ?", improvement.created_at).size.ordinalize %> of
              <%= improvement.goal.improvements_count %>
            </span>
          </div>
        </div>
      </h3>
    </div>
  <% end %>
</div>