<div class="panel improvement-panel">
  <div class="panel-heading">
    <h3 class="panel-title">
      <span class="pull-right">
        <%= fa_icon('star') if improvement.unexpected %>
        <%= fa_icon('trophy') %>
      </span>
      <%= improvement.goal.encrypted_goal %>
    </h3>
  </div>
  <div class="panel-body">
    <ul>
      <li>
        <%= fa_icon 'clock-o' %>
        <span class="offset">
          acknowledged <%= local_time_ago(improvement.created_at) %>
        </span>
      </li>
      <li>
        <%= fa_icon 'hashtag' %>
        <span class="offset">
          your <%= improvement.goal.improvements
                    .where("created_at <= ?", improvement.created_at)
                    .size.ordinalize %> improvement
        </span>
      </li>
      <% if improvement.unexpected? %>
        <li>
          <%= fa_icon 'star' %> 
          <span class="offset">this was an unexpected win!</span>
        </li>
        <% end %>
    </ul>
  </div>
</div>