<div id="login_module">
  <div class="welcome-message">
    <%= @user.email %><br>
    <%= link_to fa_icon('pencil-square-o', text: 'change'), root_url %>
  </div>
  <%= form_for :session, url: login_path, 
        html: {id: 'new_session', class: 'signup-form'}, remote: true do |f| %>
    <%= hidden_field(:session, :email, :value => @user.email) %>
    <div class="input-group break-group-xs">
      <%= f.password_field :password, placeholder: "password goes here",
                                class: "form-control input-lg" %>
      <span class="input-group-btn hidden-xs">
      <%= f.button(type: 'submit', class: "btn btn-green btn-lg btn-begin",
          data: {disable_with: "<div class='loader'></div>".html_safe}) do %>
        Let me in
      <% end %>
      </span>
    </div>
    <span class="visible-xs">
      <%= f.button(type: 'submit', class: "btn btn-green btn-lg btn-block",
          data: {disable_with: "<div class='loader'></div>".html_safe}) do %>
        Let me in
      <% end %>
    </span>
  <% end %>
  <%= form_tag sendemail_path, method: "post", remote: true do |f| %>
    <%= hidden_field(:session, :email, :value => @user.email) %>
    <%= button_tag(type: 'submit', class: "btn btn-orange btn-block btn-lg",
        data: {disable_with: "Sending email<div class='loader with-text'></div>".html_safe}) do %>
      I haven't set a password yet
    <% end %>
  <% end %>
</div>