<div id="login_module">
  <div class="welcome-message">
    <%= @user.email %>
    <%= link_to fa_icon('pencil-square-o'), root_url %>
  </div>
  <%= form_for :session, url: login_path, 
        html: {id: 'new_session', class: 'signup-form'}, remote: true do |f| %>
    <%= hidden_field(:session, :email, :value => @user.email) %>
    <div class="input-group break-group-xs">
      <%= f.password_field :password, placeholder: "password goes here",
                                class: "form-control input-lg" %>
      <span class="input-group-btn hidden-xs">
      <%= f.submit "Let me in", :data => {:disable_with => "Trying.."}, 
            class: "btn btn-green btn-lg btn-fill"%>
      </span>
    </div>
    <span class="visible-xs">
      <%= f.submit "Let me in", :data => {:disable_with => "Trying.."}, 
            class: "btn btn-green btn-lg btn-block" %>
    </span>
  <% end %>
  <%= form_tag sendemail_path, method: "post", remote: true do |f| %>
    <%= hidden_field(:session, :email, :value => @user.email) %>
    <%= submit_tag "I haven't set a password yet", 
          :data => {:disable_with => "Sending email..."},
          class: "btn btn-orange btn-block btn-lg" %>
  <% end %>
</div>