<% provide(:title, "Profile") %>
<h1 class="page-title">
  <i class="fa fa-smile-o"></i><br>
  <small>Profile</small>
</h1>
<p class="title-helper">This is all about you.</p>
<ul class="nav nav-tabs">
  <li class="col-xs-4 active">
    <a data-toggle="tab" href="#profile-me">Me</a>
  </li>
  <li class="col-xs-4">
    <a data-toggle="tab" href="#profile-sessions">Sessions</a>
  </li>
  <li class="col-xs-4">
    <a data-toggle="tab" href="#profile-security">Security</a>
  </li>
</ul>
<div class="tab-content">
  <div id="profile-me" class="tab-pane fade in active">
    <%= form_for @user, remote: true do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name, placeholder: 'Hey mate, what’s your name?', 
                              class: 'form-control input-lg' %>
      <%= f.label :year_of_birth %>
      <%= f.select :year_of_birth, 
            ((Time.zone.now.year - 100)..(Time.zone.now.year)).to_a.reverse,
            { prompt: 'When did you enter the world?' },
            class: 'form-control input-lg' %>
      <%= f.label :gender %>
      <div class="btn-group btn-group-justified" role="group" data-toggle="buttons">
        <label class="btn btn-default btn-lg">
          <%= f.radio_button :gender, 'female' %><%= fa_icon 'female', text: 'Female' %>
    		</label>
    		<label class="btn btn-default btn-lg">
    			<%= f.radio_button :gender, 'male' %><%= fa_icon 'male', text: 'Male' %>
    		</label>
      </div>
      <%= f.label :country %>
      <%= country_select("user", "country_code",
          { priority_countries: ["AU", "CA", "NZ", "GB", "US"], 
            include_blank: 'select a country' }, 
          { class: 'form-control input-lg', 
          placeholder: 'Which amazing part of the world do you live in?' }) %>
      <%= f.label :time_zone %>
      <%= f.time_zone_select :time_zone, /Australia/, { include_blank: true }, 
            { class: 'form-control input-lg' } %>
      <%= button_tag(type: 'submit', class: "btn btn-orange pull-right btn-lg",
            :data => {:disable_with => "Saving..."}) do %>
        <%= fa_icon('floppy-o', text: 'Save', right: true) %>
      <% end %>
    <% end %>
  </div>
  <div id="profile-sessions" class="tab-pane fade">
    <%= render @user.remembers.order(updated_at: :desc) %>
  </div>
  <div id="profile-security" class="tab-pane fade">
    <%= form_for @user, remote: true do |f| %>
      <%= f.label :password %>
      <%= f.password_field :password, placeholder: 'Set a new password', 
                              class: 'form-control input-lg' %>
      <%= f.label :password_confirmation, "New Password Confirmation" %>
      <%= f.password_field :password_confirmation, placeholder: 'Confirm new password',
                              class: 'form-control input-lg' %>
      <%= button_tag(type: 'submit', class: "btn btn-orange pull-right btn-lg",
            :data => {:disable_with => "Saving..."}) do %>
        <%= fa_icon('floppy-o', text: 'Save', right: true) %>
      <% end %>
    <% end %>
    <div class="clearfix"></div>
    <hr>
    <%= text_field_tag 'email', @user.email, disabled: true,
          class: 'form-control input-lg' %>
    <button class="btn btn-orange btn-block btn-lg" data-toggle="modal" data-target="#new-email">I want to change my account email</button>
  </div>
</div>
<div id="new-email" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Please enter your new email address</h4>
      </div>
      <div class="modal-body">
        <div class="alert alert-danger">
          <strong>Alert!</strong> Ensure you have access to both your current, 
        and new email addresses. If you don't, please contact 
        <a href="mailto:support@thecrucialteam.com?subject=Change Email Support">support</a>.
        </div>
        <%= form_tag("/changemyemail", method: "post") do |f| %>
          <div class="input-group">
            <%= email_field_tag :email, nil, placeholder: "new email here",
                                      required: "required",
                                      class: "input-lg form-control" %>
            <span class="input-group-btn">
              <%= submit_tag "Change", :data => {:disable_with => "Trying..."},
                    class: "btn btn-orange btn-lg" %>
            </span>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>