<% provide(:title, "Welcome") %>
<header class="title-logo">
  <%= image_tag 'crucendo_logo_web.svg', alt: 'Crucendo Logo' %>
</header>
<section class="tagline aqua">
  <p>impress yourself every day</p>
</section>
<section class="row">
  <div id="root-container" 
    class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
    <%= form_for @user, :url => root_url, :html => {:class => 'signup-form'}, remote: true do |f| %>
      <div class="input-group break-group-xs">
        <%= f.email_field :email, placeholder: "youremail@here.com",
                                  class: "form-control input-lg" %>
        <span class="input-group-btn hidden-xs">
        <%= f.button(type: 'submit', class: "btn btn-green btn-lg btn-begin",
            data: {disable_with: "<div class='loader'></div>".html_safe}) do %>
          Begin now
        <% end %>
        </span>
      </div>
      <span class="visible-xs">
        <%= f.button(type: 'submit', class: "btn btn-green btn-lg btn-block",
            data: {disable_with: "<div class='loader'></div>".html_safe}) do %>
          Begin now
        <% end %>
      </span>
    <% end %>
</section>
<section class="aqua modal-trigger-helper">
  <p>
    <span class="modal-trigger" data-toggle="modal" data-target="#landing-help-modal">
      How does Crucendo work?
    </span>
  </p>
</section>
<%= render 'shared/testimonials' %>
<section>
  <p class="policies aqua">
    <%= link_to 'Privacy', privacy_url, target: '_blank' %> | 
    <%= link_to 'Terms & Conditions', terms_url, target: '_blank' %> | 
    <%= link_to 'Contact', contacts_path %>
  </p>
</section>
<div id="landing-help-modal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content help-modal">
			<div class="modal-body">
				<p>1. Choose the areas you want to focus on. You control your destiny.</p>
				<hr>
				<p>2. Challenge yourself with questions that provoke introspective thought.</p>
				<hr>
				<p>3. Set some goals, but don't forget to acknowledge today's successes.</p>
				<hr>
				<p>4. Come back the next day and track your rise to greatness.</p>
			</div>
			<div class="modal-footer">
			  <%= link_to fa_icon('question-circle-o', text: "Help", right: true), 
          help_path, class: 'btn btn-default btn-lg' %>
			  <button type="button" class="btn btn-lg btn-green" 
			    data-dismiss="modal">
			    <%= fa_icon 'check', text: 'Got it', right: true %>
			  </button>
			</div>
		</div>
	</div>
</div>
<!-- New User Signup Conversion  -->
<script type="text/javascript">
 /* <![CDATA[ */
 goog_snippet_vars = function() {
   var w = window;
   w.google_conversion_id = 877389444;
   w.google_conversion_label = "m-gICNy2gWoQhM2vogM";
   w.google_remarketing_only = false;
 }
 goog_report_conversion = function(url) {
   goog_snippet_vars();
   window.google_conversion_format = "3";
   var opt = new Object();
   opt.onload_callback = function() {
   if (typeof(url) != 'undefined') {
     window.location = url;
   }
 }
 var conv_handler = window['google_trackConversion'];
 if (typeof(conv_handler) == 'function') {
   conv_handler(opt);
 }
}
/* ]]> */
</script>
<script type="text/javascript"
 src="//www.googleadservices.com/pagead/conversion_async.js" async="async">
</script>