<% provide(:title, "Welcome") %>
<h1 class="welcome-title">
  Crucendo
  <small>
    Everyone deserves the opportunity to impress themselves. 
    <span>
      Start impressing yourself today.
    </span>
  </small>
</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @user, :url => root_url, class: 'signup-form' do |f| %>
      <div class="input-group break-group-xs">
        <%= f.email_field :email, placeholder: "Your email here...",
                                  class: "form-control input-lg" %>
        <span class="input-group-btn hidden-xs">
        <%= f.submit "Let's Go!", :data => {:disable_with => "Going..."}, 
              class: "btn btn-orange btn-lg btn-fill",
              :disabled => Rails.env.production? ? true : false %>
        </span>
      </div>
      <span class="visible-xs">
        <%= f.submit "Let's Go!", :data => {:disable_with => "Going..."}, 
              class: "btn btn-orange btn-lg btn-block",
              :disabled => Rails.env.production? ? true : false %>
      </span>
    <% end %>
    <div class="policies">
      <%= link_to 'Privacy', privacy_url %> | 
      <%= link_to 'Terms & Conditions', terms_url %>
    </div>
  </div>
</div>