<% provide(:title, "Welcome") %>
<header class="row title-logo">
  <%= image_tag 'crucendo_logo_web.svg', alt: 'Crucendo Logo' %>
</header>
<section class="tagline aqua">
  <p>impress yourself every day</p>
</section>
<section class="row">
  <div id="root-container" 
    class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
    <%= form_for @user, :url => root_url, :html => {:class => 'signup-form'}, remote: true do |f| %>
      <div class="input-group break-group-xs">
        <%= f.email_field :email, placeholder: "youremail@here.com",
                                  class: "form-control input-lg" %>
        <span class="input-group-btn hidden-xs">
        <%= f.submit "Begin now", :data => {:disable_with => "Welcome!"}, 
              class: "btn btn-green btn-lg btn-fill"%>
        </span>
      </div>
      <span class="visible-xs">
        <%= f.submit "Begin now", :data => {:disable_with => "Welcome!"}, 
              class: "btn btn-green btn-lg btn-block" %>
      </span>
    <% end %>
</section>
<section class="tagline aqua">
  <p>
    <small>
      <span class="modal-trigger" data-toggle="modal" data-target="#help-modal">
        How does Crucendo work?
      </span>
    </small>
  </p>
</section>
<section class="extra-padding">
  <p class="policies aqua">
    <%= link_to 'Privacy', privacy_url, target: '_blank' %> | 
    <%= link_to 'Terms & Conditions', terms_url, target: '_blank' %> | 
    <%= link_to 'Contact', 'mailto:support@thecrucialteam.com' %>
  </p>
</section>
<div id="help-modal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
				  <i class="fa fa-times fa-3" aria-hidden="true"></i>
				</button>
				<h4 class="modal-title">How does Crucendo work?</h4>
			</div>
			<div class="modal-body">
				<p>Crucendo improves self awareness and promotes personal development 
				through short, introspective sessions designed to challenge and 
				encourage you.</p>
				<p>When using Crucendo you are prompted by stimulating and 
				thought-provoking questions. Answering these questions each day gives 
				you a starting point to think about what you can do better or 
				differently tomorrow in order to keep growing.</p>
				<p>Crucendo asks you to acknowledge anything you have improved or 
				achieved, as well as what you want to achieve in the future. This 
				builds a motivational system for you to track your goals and 
				accomplishments.</p>
				<p>By spending five minutes at the end of the day being introspective, 
				you will be impressing yourself sooner than you expect.</p>
			</div>
			<div class="modal-footer">
			  <%= link_to fa_icon('question-circle-o', text: "Help", right: true), 
          help_path, class: 'btn btn-default btn-lg' %>
			  <button type="button" class="btn btn-lg btn-green" 
			    data-dismiss="modal">
			    <%= fa_icon 'check', text: 'Got it', right: true %>
			  </button>
			</div>
		</div>
	</div>
</div>
<!-- New User Signup Conversion  -->
<script type="text/javascript">
 /* <![CDATA[ */
 goog_snippet_vars = function() {
   var w = window;
   w.google_conversion_id = 877389444;
   w.google_conversion_label = "m-gICNy2gWoQhM2vogM";
   w.google_remarketing_only = false;
 }
 goog_report_conversion = function(url) {
   goog_snippet_vars();
   window.google_conversion_format = "3";
   var opt = new Object();
   opt.onload_callback = function() {
   if (typeof(url) != 'undefined') {
     window.location = url;
   }
 }
 var conv_handler = window['google_trackConversion'];
 if (typeof(conv_handler) == 'function') {
   conv_handler(opt);
 }
}
/* ]]> */
</script>
<script type="text/javascript"
 src="//www.googleadservices.com/pagead/conversion_async.js">
</script>