<% provide(:title, "Dashboard") %>
<h1 class="page-title">
  <i class="fa fa-tachometer"></i><br>
  <small>Dashboard</small>
</h1>
<div class="row">
  <div class="col-xs-4">
    <p class="dash-achievement"><%= pluralize(@goals_completed_count, 'completed want') %> </p>
  </div>
  <div class="col-xs-4">
    <p class="dash-achievement"><%= pluralize(@improvements_count, 'total improvement') %></p>
  </div>
  <div class="col-xs-4">
    <p class="dash-achievement"><%= pluralize(@consecutive_days, 'consecutive day') %> </p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-crucendo">
      <%= link_to interactions_path do %>
      <div class="panel-heading"><%= commence_crucendo_text %></div>
      <% end %>
    </div>
  </div>
</div>