<% provide(:title, "Dashboard") %>
<%
  if get_interaction(current_user)
    crucendo_text =  fa_icon('play', text: 'Continue recent Crucendo')
  else
    crucendo_text = fa_icon('plus', text: 'Begin a new Crucendo')
  end
%>
<h1 class="page-title">
  <i class="fa fa-tachometer"></i><br>
  <small>Dashboard</small>
</h1>
<div class="row">
  <div class="col-xs-4">
    <p class="dash-achievement"><%= pluralize(@goals_completed_count, 'completed want') %> </p>
  </div>
  <div class="col-xs-4">
    <p class="dash-achievement"><%= pluralize(@improvements_count, 'total improvement') %></p>
  </div>
  <div class="col-xs-4">
    <p class="dash-achievement"><%= pluralize(@consecutive_days, 'consecutive day') %> </p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-crucendo">
      <%= link_to interactions_path do %>
      <div class="panel-heading"><%= crucendo_text %></div>
      <% end %>
    </div>
  </div>
</div>