<% provide(:title, "Home") %>
<% provide(:navigation_heading, "Home") %>
<h2>Hi <%= link_to get_name(current_user), profile_path %>,
<br>ready to impress yourself today?</h2>
<div class="row row-eq-height">
  <div class="col-xs-3 flex-center">
    <p class="dash-achievement">
      <%= pluralize(@consecutive_days, "consecutive day") %>
    </p>
  </div>
  <div class="col-xs-6">
    <div class="crucendo-circle">
      <div class="crucendo-circle-content" data-toggle="modal" data-target="#start-crucendo-modal">
        <%= image_tag("crucendo_c_web.svg") %>
        <div class="text-container">
          <div class="text-offset">
            <%= commence_crucendo_text %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-3 flex-center">
    <p class="dash-achievement">
      <%= pluralize(@improvements_count, "improvement") %>
      <span class="pluralize-word"><%= (Time.zone.now).strftime("%b").downcase %></span>
    </p>
  </div>
</div>
<%= render 'accomplishments/start_crucendo' %>