<% initial_email = current_user.email if logged_in? %>
<div class="modal fade" id="contact-modal" tabindex="-1" role="dialog" 
  aria-hidden="true">
  <div class="modal-dialog">
    <div  class="modal-content contact-modal">
      <div class="modal-header">
        <button type="button" class="modal-button-left close-icon" 
          data-dismiss="modal" aria-hidden="true">
          <%= material_icon.clear %>
        </button>
        <%= button_tag(type: 'submit', class: "modal-button-right custom-icon",
            form: 'new_contact', 
            data: {disable_with: "<div class='loader'></div>".html_safe}) do %>
          <%= material_icon.done %>
        <% end %>
        <h4 class="modal-title">Business Contact</h4>
      </div>
      <div id="contact-form-fill" class="modal-body">
        <%= simple_form_for @contact, html: { class: 'form-horizontal' },
          remote: true do |f| %>
          <%= f.input :name, input_html: { class: 'form-control input-lg' }, 
                required: true, placeholder: 'What is your name?' %>
          <%= f.input :business_name, input_html: { class: 'form-control input-lg' }, 
                required: true, placeholder: 'Enter the name of your business' %>
          <%= f.input :email, input_html: { class: 'form-control input-lg', value: initial_email }, 
                required: true, placeholder: 'yourbusinessemail@here.com' %>
          <%= f.input :phone, input_html: { class: 'form-control input-lg' },
                placeholder: 'Your best contact number' %>
          <%= f.input :message, input_html: { class: 'form-control input-lg' }, :as => :text,
                required: true, placeholder: 'Your message here...' %>
          <div class= "hidden">
            <%= f.input :type, input_html: { value: "Business" } %>
            <%= f.input :nickname, :hint => 'Leave this field blank!' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>