<% if logged_in? %>
<% title "Support" %>
<% provide(:navigation_heading, "Support") %>
<% else %>
<% title "Contact" %>
<% provide(:navigation_heading, "Contact") %>
<% end %>
<div class="row">
  <div class="col-sm-6">
    <%= link_to new_contact_path, remote: true, class: "btn btn-block btn-lg scaled btn-green btn-bottom-margin" do %>
      <h3>General</h3>
      <p class="contact-text">Looking to provide feedback, ask for support, or have any other question?</p>
    <% end %>
  </div>
  <div class="col-sm-6">
    <%= link_to new_contact_path(type: :business), remote: true, class: "btn btn-block btn-lg scaled btn-green btn-bottom-margin" do %>
      <h3>Business</h3>
      <p class="contact-text">Would you like to use Crucendo in a business, school, or team environment?</p>
    <% end %>
  </div>
  <div class="col-xs-12">
    <%= link_to help_path, class: "btn btn-block btn-transparent btn-lg scaled btn-bottom-margin" do %>
      <h3>View the Crucendo Help Guide</h3>
      <p class="contact-text">Want to learn more about Crucendo, how it works, and its features? Click Here</p>
    <% end %>
  </div>
</div>
<div class="policies aqua">
  <%= link_to 'Privacy', privacy_url, target: '_blank' %> | 
  <%= link_to 'Terms & Conditions', terms_url, target: '_blank' %> | 
  <%= link_to 'Contact', contacts_path %>
</div>
<div id="contact-modal-container"></div>