<% provide(:title, "Questions") %>
<h1>Questions</h1>
<div class="crucial-container">
  <%= link_to "Add Question", new_admin_question_path,
                              class: "btn btn-primary" %>
  <%= link_to "Manage Categories", admin_questions_categories_path, 
                                            class: "btn btn-primary" %>
  <%= link_to "Manage Topics", admin_questions_topics_path, 
                                            class: "btn btn-primary" %>
</div>
<div class="crucial-container">
  <%= form_tag admin_questions_path, :method => 'get', class: "search" do %>
    <%= hidden_field_tag :direction, params[:direction] %>
    <%= hidden_field_tag :sort, params[:sort] %>
    <%= text_field_tag :search, params[:search],
                                placeholder: "Enter search phrase",
                                class: "form-control" %>
    <%= select_tag :topic_id, 
          options_for_select(Topic.all.collect { |t| 
                                [ t.name, t.id ]}, params[:topic_id]), 
          { :include_blank => 'All Topics', :class => 'form-control'  } %>
    <%= select_tag :active, 
          options_for_select({ 'Active'=>true, 'Inactive'=>false }, params[:active]), 
          { :include_blank => 'All', :class => 'form-control'  } %>
    <%= submit_tag "Find Question", :name => nil, class: "btn btn-default" %>
  <% end %>
  <table class="table">
    <thead>
      <tr>
        <th><%= sortable "content", "Question" %></th>
        <th class="hidden-xs"><%= sortable "topics.name", "Topic" %></th>
        <th class="hidden-xs"><%= sortable "categories.name", "Category" %></th>
        <th class="hidden-xs"><%= sortable "active", "Active" %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% @questions.each do |question| %>
    <tr>
      <td><%= question.content %></td>
      <td class="hidden-xs"><%= question.topic.name if question.topic %></td>
      <td class="hidden-xs"><%= question.category.name %></td>
      <td class="hidden-xs"><%= question.active? ? 'Yes' : 'No' %></td>
      <td><span class="pull-right">
        <%= link_to "edit", edit_admin_question_path(question) %></span>
      </td>
    </tr>
    <% end %>
  </table>
  <%= will_paginate @questions %>
</div>