<% provide(:title, "All Questions") %>
<%= link_to "Add Question", new_admin_question_path %><br>
<%= link_to "Manage Question Categories", admin_questions_categories_path %>
<h1>All Questions</h1>
<ul class="questions">
  <% @questions.each do |question| %>
    <li>
      <%= question.question_category.name %> | <%= question.content %>
      <span class="pull-right">
        <%= link_to "delete", admin_question_path(question), 
                              method: :delete,
                              title: "Are you sure?", 
                              data: {confirm: 'This will archive the question so
                              it no longer appears for users. Previous 
                              interactions will remain unchanged.'} %>
        | <%= link_to "edit", edit_admin_question_path(question) %>
      </span>
    </li>
  <% end %>
</ul>