<% provide(:title, "All Questions") %>
<%= link_to "Add Question", new_admin_question_path,
                            class: "btn btn-primary" %>
<%= link_to "Manage Categories", admin_questions_categories_path, 
                                          class: "btn btn-primary" %>
<h1>All Questions</h1>
<%= form_tag admin_questions_path, :method => 'get', class: "search" do %>
  <%= hidden_field_tag :direction, params[:direction] %>
  <%= hidden_field_tag :sort, params[:sort] %>
  <div class="input-group">
    <%= text_field_tag :search, params[:search],
                              placeholder: "Enter search phrase",
                              class: "form-control" %>
    <span class="input-group-btn">
      <%= submit_tag "Find Question", :name => nil, class: "btn btn-default" %>
    </span>
  </div>
<% end %>
<table class="table">
  <thead>
    <tr>
      <th><%= sortable "content", "Question" %></th>
      <th><%= sortable "categories.name", "Category" %></th>
      <th><%= sortable "active", "Active" %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @questions.each do |question| %>
  <tr>
    <td><%= question.content %></td>
    <td><%= question.category.name %></td>
    <td><%= question.active? ? 'Yes' : 'No' %></td>
    <td><span class="pull-right">
      <%= link_to "edit", edit_admin_question_path(question) %></span>
    </td>
  </tr>
  <% end %>
</table>
<%= will_paginate @questions %>