<% provide(:title, "Topic Questions") %>
<h1>Topic Questions</h1>
<table class="table">
  <thead>
    <tr>
      <th>Question</th>
      <th>Topic</th>
      <th>Category</th>
      <th>Active</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @questions.each do |question| %>
  <tr>
    <td><%= question.content %></td>
    <td><%= question.topic.name if question.topic %></td>
    <td><%= question.category.name %></td>
    <td><%= question.active? ? 'Yes' : 'No' %></td>
    <td><span class="pull-right">
      <%= link_to "edit", edit_admin_question_path(question) %></span>
    </td>
  </tr>
  <% end %>
</table>
<%= will_paginate @questions %>