<% improvement ||= goal.has_improvement?(interaction_id) %>
<div id="goal_<%= goal.id %>" class="panel goal-panel heading-only <%= 'improved' if improvement %>">
  <%= link_to improve_goal_path(goal, interaction_id: interaction_id), 
        method: :post, remote: true, class: "goal-have" do %>
    <div class="panel-heading">
      <h3 class="panel-title">
        <span class="pull-right pull-right-padded">
          <%= fa_icon('trophy', text: goal.improvements.size, right: :true) %>
        </span>
        <span class="pull-left pull-left-padded">
          <%= improvement && improvement.unexpected ? fa_icon('star') : fa_icon('bullseye') %>
        </span>
        <span class="goal_encrypted_goal">
          <%= goal.encrypted_goal %>
        </span>
      </h3>
    </div>
  <% end %>
</div>