<div id="goal_<%= goal.id %>" class="panel goal-panel heading-only">
  <%= link_to edit_goal_path(goal), remote: true do %>
  <div class="panel-heading">
    <h3 class="panel-title">
      <span class="pull-right pull-right-padded">
        <%= fa_icon('pencil-square-o') %>
      </span>
      <span class="pull-left pull-left-padded">
        <%= goal.due_date.blank? ? fa_icon('bullseye') : fa_icon('calendar') %>
      </span>
      <span class="goal_encrypted_goal">
        <%= goal.encrypted_goal %>
      </span>
    </h3>
  </div>
  <% end %>
</div>