<% interaction ||= false %>
<div class="modal fade" id="new_improvement_modal" tabindex="-1" role="dialog" 
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content have-modal">
      <div class="modal-header">
        <button type="button" class="modal-button-left close-icon" 
          data-dismiss="modal" aria-hidden="true">
          <%= material_icon.clear %>
        </button>
        <%= button_tag(type: 'submit', class: "modal-button-right custom-icon",
            form: 'new_goal', 
            data: {disable_with: "<div class='loader'></div>".html_safe}) do %>
          <%= material_icon.done %>
        <% end %>
        <h4 class="modal-title">I Have</h4>
      </div>
      <div class="modal-body">
        <%= form_for @goal, url: '/unexpected', remote: true, 
            method: 'post' do |f| %>
          <%= f.text_field :encrypted_goal, 
              placeholder: 'What have you improved?', 
              class: 'form-control input-lg' %>
          <div class="btn-group btn-block" data-toggle="buttons">
            <label class="btn btn-default btn-block improve-btn btn-lg">
              <%= f.check_box :active, {}, 1, 0 %>
              I want to actively improve this
            </label>
          </div>
          <%= hidden_field(:goal, :interaction_id) if interaction %>
        <% end %>
      </div>
    </div>
  </div>
</div>