<% min_date = params[:min_date].to_date if params[:min_date].present? %>
<% max_date = params[:max_date].to_date if params[:max_date].present? %>
<div class="modal fade" id="search-posts-modal" tabindex="-1" role="dialog" 
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content search-posts">
      <div class="modal-header">
        <button type="button" class="modal-button-left close-icon" 
          data-dismiss="modal" aria-hidden="true">
          <%= material_icon.clear %>
        </button>
        <%= button_tag(type: 'submit', class: "modal-button-right check-icon",
            form: 'search-posts-form', 
            data: {disable_with: "<div class='loader'></div>".html_safe},
            name: nil) do %>
          <%= material_icon.search %>
        <% end %>
        <h4 class="modal-title">Search Blog Posts</h4>
      </div>
      <div class="modal-body">
        <%= form_tag("/blog", {id: "search-posts-form", class: "search-form", 
          enforce_utf8: false, method: "get"} ) do %>
          <%= hidden_field_tag 'search', 'true' %>
          <%= label_tag :published_date, 'Published Date' %>
          <div class="row">
            <div class="col-sm-6">
              <div class="input-group date">
                <span class="input-group-btn">
                  <%= button_tag type: 'button', 
                    class: "btn btn-default btn-lg calendar-helper plus-text", 
                    id: 'from-calendar' do %>
                    <%= fa_icon('calendar') %>
                    <span>From</span>
                  <% end %>
                </span>
                <%= date_field_tag :min_date, 
                  min_date, class: 'form-control input-lg' %>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="input-group date">
                <span class="input-group-btn">
                  <%= button_tag type: 'button', 
                    class: "btn btn-default btn-lg calendar-helper plus-text", 
                    id: 'to-calendar' do %>
                    <%= fa_icon('calendar') %>
                    <span>To</span>
                  <% end %>
                </span>
                <%= date_field_tag :max_date, 
                  max_date, class: 'form-control input-lg' %>
              </div>
            </div>
          </div>
          <%= label_tag :posts_with_track, 'Linked Tracks' %>
          <%= select_tag :posts_with_track, 
            options_from_collection_for_select(
                Topic.active, "id", "name", params[:posts_with_track]), 
            prompt: "Find blog posts about these tracks", 
            class: 'form-control input-lg' %>
          <%= label_tag :posts_with_track, 'By Author' %>
          <%= select_tag :posts_from_author, 
            options_from_collection_for_select(
                Author.all, "id", "name", params[:posts_from_author]), 
            prompt: "Find blog posts from this Author", 
            class: 'form-control input-lg' %>
        <% end %>
      </div>
    </div>
  </div>
</div>