<% content_for :navigation_right do %>
  <%= link_to fa_icon('comment-o'), posts_path, class: "custom-icon" %>
<% end %>
<div id="post-container">
  <%= image_tag @post.image.url, class: "img-responsive" %>
  <div class="post-content">
    <h1 class="post-title"><span><%= @post.title %></span></h1>
    <p class="post-tracks"><%= render @post.topics %></p>
    <p class="post-author">
      <%= image_tag @post.author.logo.url, class: "post-author-image" if @post.author.logo? %>
      by <%= @post.author.name %>,  
      <%= local_relative_time(@post.published_date, type: 'weekday-or-date') %>
      <%= social_share_button_tag() %>
    </p>
    <div class="post-article"><%= @post.content.html_safe %></div>
  </div>
</div>