<% search = params.has_key?(:search) %>
<div id="helper-container">
  <% if search %>
    <div class="goal-helper">
      <p>I've done 99 searches and a result ain't one.</p>
      <p>Our robot, Baxter, suggests that you try a fresh search.</p>
    </div>
  <% else %>
  <div class="goal-helper">
    <p>All of your wants will appear here. Hit the 
      <%= material_icon.add.css_class('helper-button').html({ data: { helper: "new_goal_start" } }) %>
      to get started.
    </p>
    <p>In the meantime, here are some 
    examples to get your improvement juices flowing!</p>
  </div>
  <div class="panel goal-panel heading-only">
    <div class="panel-heading">
      <h3 class="panel-title">
        <span class="pull-left-absolute">
          <%= fa_icon('bullseye') %> 
        </span>
        <div class="goal_encrypted_goal">
          Setting realistic expecations at work
        </div>
        <div>
          <div class="panel-title-helper">
            Inactive, Last Improved <%= when_did_it_happen(3.days.ago) %>
            <span class="pull-right pull-right-padded">
              <%= fa_icon('trophy', text: '1', right: :true) %>
            </span>
          </div>
        </div>
      </h3>
    </div>
  </div>
  <div class="panel goal-panel heading-only">
    <div class="panel-heading">
      <h3 class="panel-title">
        <span class="pull-left-absolute">
          <%= fa_icon('calendar') %> 
        </span>
        <div class="goal_encrypted_goal">
          Being more patient
        </div>
        <div>
          <div class="panel-title-helper">
            Active, Last Improved <%= when_did_it_happen(12.hours.ago) %>
            <span class="pull-right pull-right-padded">
              <%= fa_icon('trophy', text: '4', right: :true) %>
            </span>
          </div>
        </div>
      </h3>
    </div>
  </div>
  <div class="panel goal-panel heading-only">
    <div class="panel-heading">
      <h3 class="panel-title">
        <span class="pull-left-absolute">
          <%= fa_icon('bullseye') %> 
        </span>
        <div class="goal_encrypted_goal">
          Eating healthier, and drinking more water
        </div>
        <div>
          <div class="panel-title-helper">
            Completed, Last Improved <%= when_did_it_happen(6.days.ago) %>
            <span class="pull-right pull-right-padded">
              <%= fa_icon('trophy', text: '15', right: :true) %>
            </span>
          </div>
        </div>
      </h3>
    </div>
  </div>
  <% end %>
</div>