<% modal ||= false %>
<% remote = modal ? true : false %>
<%= form_for @goal, 
      url: '/unexpected', 
      remote: remote, 
      method: 'post' do |f| %>
  <%= f.label :content, 'Improvement' %>
  <%= f.text_field :content, class: 'form-control' %>
  <%= f.label :content, 'Set goal?' %>
  <div class="btn-group btn-block" data-toggle="buttons">
    <label class="btn btn-primary btn-block">
      <%= f.check_box :completed, {}, 0, 1 %> I want to keep improving this
    </label>
  </div>
  <%= hidden_field(:goal, :interaction_id) %>
  <%= submit_tag 'Create', 
        :data => {:disable_with => "Saving..."}, 
        class: 'btn btn-success pull-right' %>
<% end %>