<div id="goal_<%= goal.id %>" 
  class="panel-group goal-panel">
  <div class="panel">
    <%= link_to goal_path(goal) do %>
    <div class="panel-heading">
      <h3 class="panel-title">
        <span class="pull-right">
          <%= fa_icon('bullseye') %>
        </span>
        <span class="goal_content"><%= goal.content %></span>
      </h3>
    </div>
    <div class="panel-body">
      <%= fa_icon 'clock-o' %>  
      this was created <%= local_time_ago(goal.created_at) %><br>
      <%= fa_icon 'trophy' %> 
      <% if goal.improvements.size > 0 %>
        you have improved <%= pluralize(goal.improvements.size, 'time') %><br>
      <% else %>
        you are working toward your first improvement<br>
      <% end %>
      <% if !goal.due_date.blank? %>
        <%= fa_icon 'calendar' %> 
        you want to achieve this by 
        <%= local_relative_time(goal.due_date, type: 'weekday-or-date') %>
        <br>
      <% end %>
    </div>
    <% end %>
  </div>
</div>