<div id="goal_<%= goal.id %>" class="panel goal-panel heading-only selectable">
  <%= link_to goal_path(goal) do %>
    <div class="panel-heading">
      <h3 class="panel-title">
        <span class="pull-left-absolute">
          <%= goal.due_date.present? ? fa_icon('calendar') : fa_icon('bullseye') %> 
        </span>
        <div class="goal_encrypted_goal">
          <%= goal.encrypted_goal %>
        </div>
        <div>
          <div class="panel-title-helper">
            <% if goal.completed? %>
              Completed,
            <% elsif goal.active? %>
              Active,
            <% else %>
              Inactive,
            <% end %>
            <% if goal.improvements.exists? %>
              Last Improved <%= when_did_it_happen(goal.improvements.recent.first.created_at) %>
            <% else %>
              Created <%= when_did_it_happen(goal.created_at) %>
            <% end %>
            <span class="pull-right pull-right-padded">
              <%= fa_icon('trophy', text: goal.improvements.size, right: :true) %>
            </span>
          </div>
        </div>
      </h3>
    </div>
  <% end %>
</div>