<% initial ||= 'start-hidden' %>
<% improvement = goal.has_improvement?(interaction) %>
<div id="goal_<%= goal.id %>" 
  class="panel-group goal_panel <%= improvement ? 'improved' : initial %>">
  <div class="panel panel-default">
    <%= link_to improve_goal_path(goal, interaction_id: interaction.id), 
          method: :post, remote: true, class: "have_goal" do %>
      <div class="panel-heading">
        <h3 class="panel-title">
          <span class="goal_content"><%= goal.content %></span><br>
          <span class="goal_info">
            this was set <%= local_time_ago(goal.created_at) %> 
            and you have improved <%= pluralize(goal.improvements.size, 'time') %><br> 
            created <%= local_time_ago(goal.created_at) %>
            <% if !goal.due_date.blank? %>
              , due <%= local_relative_time(goal.due_date, type: 'date') %>
            <% end %>
            <% if improvement && improvement.unexpected? %>
              , unexpected
            <% end %>
          </span>
        </h3>
      </div>
      <div class="panel-body">
        <span class="helper">(<%= improvement ? 'click to remove improvement' : 'click to improve' %>)</span>
      </div>
    <% end %>
  </div>
</div>