<div id="goal_<%= goal.id %>" 
  class="panel-group <%= 'improved' if goal.has_improvement?(interaction)%>">
  <div class="panel panel-default">
    <%= link_to improve_goal_path(goal, interaction_id: interaction.id), 
          method: :post, remote: true, class: "article" do %>
      <div class="panel-heading">
        <h4 class="panel-title">
          <%= goal.content %> (<%= goal.improvements.count %> improvements), 
          created <%= local_time_ago(goal.created_at) %>
          <% if !goal.due_date.blank? %>
            , due <%= local_relative_time(goal.due_date, type: 'date') %>
          <% end %>
        </h4>
      </div>
    <% end %>
  </div>
</div>