<% initial ||= 'start-hidden' %>
<% improvement = goal.has_improvement?(interaction) %>
<div id="goal_<%= goal.id %>" 
  class="panel-group goal_panel <%= improvement ? 'improved' : initial %>">
  <div class="panel panel-default">
    <%= link_to improve_goal_path(goal, interaction_id: interaction.id), 
          method: :post, remote: true, class: "have_goal" do %>
      <div class="panel-heading">
        <h4 class="panel-title">
          <span class="goal_content"><%= goal.content %></span> (<%= goal.improvements.size %> improvements), 
          created <%= local_time_ago(goal.created_at) %>
          <% if !goal.due_date.blank? %>
            , due <%= local_relative_time(goal.due_date, type: 'date') %>
          <% end %>
          <% if improvement && improvement.unexpected? %>
            , unexpected
          <% end %>
        </h4>
      </div>
    <% end %>
  </div>
</div>