<% 
  # warning text when deleting goal with/without improvements
  warning_improvements = 'This will delete the want and any improvements'
  warning = 'This will delete the want'
%>
<div id="goal_<%= goal.id %>" 
  class="panel-group goal-panel new-goal">
  <div class="panel">
    <div class="panel-heading">
      <h3 class="panel-title">
        <span class="goal_content"><%= goal.content %></span>
      </h3>
    </div>
    <div class="panel-body">
      <%= fa_icon 'clock-o' %>  
      this was set <%= local_time_ago(goal.created_at) %><br>
      <%= fa_icon 'plus' %> 
      <% if goal.improvements.size > 0 %>
        you have improved <%= pluralize(goal.improvements.size, 'time') %><br>
      <% else %>
        you are working toward your first improvement<br>
      <% end %>
      <% if !goal.due_date.blank? %>
        <%= fa_icon 'calendar' %> 
        you want to complete it by 
        <%= local_relative_time(goal.due_date, type: 'weekday-or-date') %>
        <br>
      <% end %>
    </div>
    <div class="panel-footer">
      <%= link_to 'select here to remove this want', goal_path(goal), 
            method: :delete,
            remote: true,
            title: "Are you sure?", 
            data: {confirm: goal.improvements.count > 0 ? warning_improvements : warning } %>
    </div>
  </div>
</div>