<%
  provide(:title, "Edit Want")
  provide(:page_class, "want-show")
  
  form_id = "edit_goal_#{@goal.id}"
  confirm_text = 'This <strong>want</strong> will be permanently deleted.'
  if @goal.improvements.size > 0
    confirm_text += '<br>Along with the ' 
    confirm_text += pluralize(@goal.improvements.size, 'improvement') 
    confirm_text += ' you have made.' 
  end
%>
<% content_for :control_menu do %>
  <%= button_tag(type: 'submit', class: "custom-icon with-loader",
      form: form_id, 
      data: {disable_with: "<div class='loader'></div>".html_safe}) do %>
    <%= fa_icon('floppy-o') %>
  <% end %>
<% end %>
<h1 class="page-title">
  <%= link_to  fa_icon('bullseye'), goal_path(@goal) %><br>
  <small>Edit this want</small>
</h1>
<%= form_for @goal, remote: true do |f| %>
  <%= f.label :encrypted_goal, 'What do you want to improve?' %>
  <%= f.text_field :encrypted_goal, placeholder: 'What do you want to improve?', 
                          class: 'form-control input-lg' %>
  <%= f.label :due_date, 'Set a due date.' %>
  <div class="input-group date">
    <span class="input-group-btn">
      <%= button_tag fa_icon('calendar'), type: 'button', 
        class: "btn btn-default btn-lg calendar-helper" %>
    </span>
    <%= f.date_field :due_date, class: 'form-control input-lg' %>
  </div>
  <%= hidden_field_tag 'goal[due_date_utc]', @goal.due_date %>
  <%= label_tag :status %>
  <div class="btn-group btn-group-justified" role="group" data-toggle="buttons">
    <label class="btn btn-default btn-lg">
      <%= radio_button_tag :status, 'active' %>Active
		</label>
		<label class="btn btn-default btn-lg">
			<%= radio_button_tag :status, 'inactive' %>Inactive
		</label>
		<label class="btn btn-default btn-lg">
			<%= radio_button_tag :status, 'complete' %>Complete
		</label>
  </div>
  <%= link_to fa_icon('trash-o', text: 'Delete'), goal_path(@goal), 
        method: :delete,
        title: "Are you sure?", 
        data: {confirm: confirm_text },
        class: "btn btn-danger btn-link" %>
  <%#= button_tag(type: 'submit', class: "btn btn-orange pull-right btn-lg", 
        :data => {:disable_with => "Saving..."}) do %>
    <%#= fa_icon('floppy-o', text: 'Save', right: true) %>
  <%# end %>
<% end %>
<script>
  $( document ).ready(function() {
    
    // show current goal status
    <% if @goal.completed? %>
      $('#status_complete').parent().click();
    <% else %>
      <% if @goal.active? %>
        $('#status_active').parent().click();
      <% else %>
        $('#status_inactive').parent().click();
      <% end %>
    <% end %>
    
    <% unless @goal.due_date.blank? %>
      // set current due date in local time
      var date = moment.utc('<%= @goal.due_date %>');
      $('#goal_due_date').val(date.local().format('YYYY-MM-DD'));
    <% end %>
  });
</script>