<%  
  confirm_text = 'This will permanently delete this want.'
  if @goal.improvements.size > 0
    confirm_text += '<br>Along with the ' 
    confirm_text += pluralize(@goal.improvements.size, 'improvement') 
    confirm_text += ' you have made.' 
  end
%>
<h1>Edit this want</h1>
<%= form_for @goal do |f| %>
  <%= f.label :content, 'What do you want to improve?' %>
  <%= f.text_field :content, placeholder: 'What do you want to improve?', 
                          class: 'form-control input-lg' %>
  <%= f.label :due_date, 'Set a due date.' %>
  <div class="input-group date">
    <span class="input-group-btn">
      <%= button_tag fa_icon('calendar'), type: 'button', class: "btn btn-default btn-lg", id: 'calendar-button' %>
    </span>
    <%= f.date_field :due_date, class: 'form-control input-lg' %>
  </div>
  <%= hidden_field_tag 'goal[due_date_utc]', @goal.due_date %>
  <%= label_tag :status %>
  <div class="btn-group btn-group-justified" role="group" data-toggle="buttons">
    <label class="btn btn-default btn-lg">
      <%= radio_button_tag :status, 'active' %>Active
		</label>
		<label class="btn btn-default btn-lg">
			<%= radio_button_tag :status, 'inactive' %>Inactive
		</label>
		<label class="btn btn-default btn-lg">
			<%= radio_button_tag :status, 'complete' %>Complete
		</label>
  </div>
  <%= link_to fa_icon('trash-o', text: 'Delete'), goal_path(@goal), 
        method: :delete,
        title: "Are you sure?", 
        data: {confirm: confirm_text },
        class: "btn btn-danger btn-link" %>
  <%= button_tag(type: 'submit', class: "btn btn-orange pull-right btn-lg") do %>
    <%= fa_icon('floppy-o', text: 'Save') %>
  <% end %>
<% end %>
<script>
  $( document ).ready(function() {
    
    // show current goal status
    <% if @goal.completed? %>
      $('#status_complete').parent().click();
    <% else %>
      <% if @goal.active? %>
        $('#status_active').parent().click();
      <% else %>
        $('#status_inactive').parent().click();
      <% end %>
    <% end %>
    
    <% unless @goal.due_date.blank? %>
      // set current due date in local time
      var date = moment.utc('<%= @goal.due_date %>');
      $('#goal_due_date').val(date.local().format('YYYY-MM-DD'));
    <% end %>
    
    // fix ios safari issue with clearing date value
    $('[type="date"]').focus(function(e) {
      e.currentTarget.defaultValue = '';
    });
    
    // enable bootstrap datepicker if native method unavailable
    if ( $('[type="date"]').prop('type') != 'date' ) {
      $('#goal_due_date').datepicker({
        format: "yyyy-mm-dd",
        autoclose: true,
        clearBtn: true,
        todayHighlight: true
      });
    }
    
    // trigger calendar input when button pressed
    $('#calendar-button').click(function() {
      $('#goal_due_date').click().focus();
    });
  });
</script>