<% provide(:title, "Wants") %>
<% provide(:navigation_heading, "Wants") %>
<% content_for :navigation_right do %>
  <div id="search-wants" 
    class="custom-icon icon-group <%= 'icon-active' if params.has_key?(:search) %>" 
    data-toggle="modal" data-target="#search-wants-modal">
    <%= material_icon.search %>
  </div>
  <div id="new_goal_start" class="custom-icon icon-group material-lg">
    <%= material_icon.add %>
  </div>
<% end %>
<% if params.has_key?(:search) %>
<div class="search-params">
  <p>
    You are viewing filtered results.<br>
   <%= link_to goals_path do %>
     <%= material_icon.autorenew %>
     Reset Search
    <% end %>
  </p>
</div>
<% end %>
<div id="goals-container" class="panel-group">
  <%= render(@goals) || render('goals/helpers/all') %>
</div>
<%= will_paginate @goals %>
<%= render 'goals/wants/new_want' %>
<%= render 'goals/wants/search' %>