<% provide(:title, "Wants") %>
<% provide(:navigation_heading, "Wants") %>
<% content_for :navigation_right do %>
  <div id="search-wants" 
    class="custom-icon icon-group <%= 'icon-active' if params.has_key?(:search) %>" 
    data-toggle="modal" data-target="#search-wants-modal">
    <%= material_icon.search %>
  </div>
  <div id="new_goal_start" class="custom-icon icon-group material-lg">
    <%= material_icon.add %>
  </div>
<% end %>
<!--<h1 class="page-title">-->
<!--  <%#= link_to  fa_icon('bullseye'), goals_path %><br>-->
<!--  <small>Wants</small>-->
<!--</h1>-->
<!--<p class="title-helper">This is what you want to improve.</p>-->
<div id="goals-container" class="panel-group">
  <%= render(@goals) || render('goals/helpers/all') %>
</div>
<%= will_paginate @goals %>
<%= render 'goals/wants/new_want' %>
<%= render 'goals/wants/search' %>