<% provide(:title, "Want") %>
<h1 class="page-title"><%= fa_icon 'bullseye' %><br>
  <%= @goal.content %></h1>
<div class="goal-details">
  <% if @goal.improvements.size > 0 %>
    <p class="improvements-large">
      <span class="fa-stack">
        <%= fa_icon('trophy', class: "fa-stack-1x") %>
        <span class="fa-stack-1x improvements-count">
          <%= @goal.improvements.size %>
        </span>
      </span>
    </p>
  <% else %>
    <p class="goal-begin">you are working toward your first improvement</p>
  <% end %>
  <ul>
    <li>
      <%= fa_icon 'clock-o' %>
      <p>created <%= local_time_ago(@goal.created_at) %></p>
    </li>
    <li>
      <% if @goal.completed? %>
        <%= fa_icon 'check' %> 
        <p>completed <%= local_time_ago(@goal.completed_date) %></p>
      <% elsif @goal.active? %>
        <%= fa_icon 'play' %> 
        <p>you are actively improving this want</p>
      <% else %>
        <%= fa_icon 'pause' %> 
        <p>you have put this want on hold</p>
      <% end %>
    </li>
    <li>
      <%= fa_icon 'trophy' %> 
      <% if @goal.improvements.size > 0 %>
        <p>
          you have improved <%= pluralize(@goal.improvements.size, 'time') %>
        </p>
      <% else %>
        <p>you are working toward your first improvement<p>
      <% end %>
    </li>
    <% if !@goal.due_date.blank? %>
    <li>
      <%= fa_icon 'calendar' %> 
      <p>
        you want to achieve this by 
        <%= local_relative_time(@goal.due_date, type: 'weekday-or-date') %>
      </p>
    <% end %>
    </li>
  </ul>
</div>
<div class="goal-improvements">
  <%= render @improvements %>
</div>
<div class="goal-actions">
  <%= link_to fa_icon('pencil-square-o', text: 'Edit'), edit_goal_path(@goal), 
        class: 'btn btn-orange pull-right btn-lg' %>
</div>