<% provide(:title, "Want") %>
<% provide(:page_class, "want-show") %>
<% content_for :navigation_right do %>
  <%= link_to material_icon.edit.css_class('material-34'), 
        edit_goal_path(@goal), 
        class: 'custom-icon icon-group' %>
  <div class="custom-icon icon-group material-lg"
    data-toggle="modal" data-target="#new_improvement_modal">
    <%= material_icon.add %>
  </div>
<% end %>
<h1 class="page-title light">
  <%= link_to  fa_icon('bullseye'), goals_path %><br>
  <%= @goal.encrypted_goal %>
</h1>
<div class="goal-details">
  <% if @goal.improvements.size > 0 %>
    <p class="improvements-large">
      <span class="fa-stack">
        <%= fa_icon('trophy', class: "fa-stack-1x") %>
        <span class="fa-stack-1x improvements-count">
          <%= @goal.improvements.size %>
        </span>
      </span>
    </p>
  <% end %>
  <ul>
    <li>
      <%= fa_icon 'clock-o' %>
      <p>created <%= local_time_ago(@goal.created_at) %></p>
    </li>
    <li>
      <% if @goal.completed? %>
        <%= fa_icon 'check' %> 
        <p>completed <%= local_time_ago(@goal.completed_date) %></p>
      <% elsif @goal.active? %>
        <%= fa_icon 'play' %> 
        <p>you are actively improving this want</p>
      <% else %>
        <%= fa_icon 'pause' %> 
        <p>this want is inactive</p>
      <% end %>
    </li>
    <li>
      <%= fa_icon 'trophy' %> 
      <% if @goal.improvements.size > 0 %>
        <p>
          you have improved <%= pluralize(@goal.improvements.size, 'time') %>
        </p>
      <% elsif @goal.completed? %>
        <p>you have not acknowledged any improvements</p>
      <% else %>
        <p>you are working toward your first improvement</p>
      <% end %>
    </li>
    <% if !@goal.due_date.blank? %>
    <li>
      <%= fa_icon 'calendar' %> 
      <p>
        you want to achieve this by 
        <%= local_relative_time(@goal.due_date, type: 'weekday-or-date') %>
      </p>
    <% end %>
    </li>
  </ul>
</div>
<h2 class="line-span teal"><span>Haves</span></h2>
<div id="improvements-container" class="panel-group">
  <%= render(@improvements) || render('goals/helpers/first_improvement', 
                                  locals: {completed: @goal.completed} ) %>
</div>
<%= render 'goals/wants/improve', goal: @goal %>