<header class="navbar navbar-fixed-top">
  <div class="container-fluid">
    <% if content_for? :navigation_left %>
      <%= yield :navigation_left %>
    <% else %>
    <div class="control-menu pull-left">
      <%= button_tag '', id: 'navigation-button',
          class: 'icon-group c-hamburger c-hamburger--htx toggle-panel' do %>
        <span></span>
      <% end %>
      <div class="custom-icon icon-group">
        <%= link_to root_url do %>
          <%= image_tag("crucendo_c_web.svg") %>
        <% end %>
      </div>
    </div>
    <% end %>
    <% if content_for? :navigation_right %>
      <div class="pull-right control-menu">
        <%= yield :navigation_right %>
      </div>
    <% end %>
    <div class="navigation-text">
      <%= yield :navigation_heading if content_for? :navigation_heading %>
    </div>
  </div>
</header>