<% description = "Crucendo improves self awareness and promotes personal development through short, introspective sessions designed to challenge and encourage you." %>
<!DOCTYPE html>
<html>
<head>
<%= display_meta_tags %>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-title" content="Crucendo">
<meta name="apple-mobile-web-app-status-bar-style" content="default">
<link rel="apple-touch-icon" href="<%= image_path("logo_icon.png") %>">
<link rel="apple-touch-startup-image" href="<%= image_path("logo_icon.png") %>">
<%= favicon_link_tag 'logo_icon.png', sizes: 'any', type: 'image/png' %>
<%= stylesheet_link_tag     'application', media: 'all', 
                            'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': true %>
<%= render 'layouts/google_analytics' %>
<%= csrf_meta_tags %>
<%= render 'layouts/shim' %>
<%= render 'layouts/web_font_loader' %>
</head>
<body>
  <%= render 'layouts/header' %>
  <div id="flash-container"><%= render_flash %></div>
  <div id="site-content" class="<%= yield(:page_class) %> padded-top">
    <div id="primary-container" class="container">
      <% if !@breadcrumbs.blank? %>
        <ol class="breadcrumb">
          <%= render_breadcrumbs :tag => :li, :separator => "" %>
        </ol>
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </div>
  <div id="fixed-nav">
    <%= render(logged_in? ? 'layouts/navigation' : 'layouts/navigation_plain') %>
  </div>
</body>
</html>